---
import Layout from "../../layouts/Layout.astro";
import Intro from "../../components/Intro.astro";
import WebLinks from '../../components/WebLinks.astro';
import { CollectionEntry, getCollection } from "astro:content";
import FormattedDate from '../../components/FormattedDate.astro';
import ArticlesList from '../../components/ArticlesList.astro';

export async function getStaticPaths() {
	const posts = await getCollection('articles');
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}

type Props = CollectionEntry<'articles'>;

const post = Astro.props;
const { Content } = await post.render();
---

<Layout  {...post.data}>
	<Intro> 
		<FormattedDate date={post.data.pubDate} />
	</Intro>

	<aside id="side" class="grid_5">
		<h2 class="headTitle">Articlees</h2>
		
		<ArticlesList />

		<h2 class="headTitle">Links</h2>

		<WebLinks />            
	</aside>

	<main id="main" class="grid_11 omega">
		<Content />
	</main>
</Layout>