---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Atlantisdesign » Webdesign">
	<div id="intro" class="grid_16">
		<blockquote>
			<p>
				Een aantal boeken welke zeker een aanrader zijn voor elke webdesigner / webdeveloper
			</p>
		</blockquote>
	</div>
    
    <div class="clear">&nbsp;</div>

    <div id="side" class="grid_5">
		<h2>Pagina index</h2>
		<p><a href="/webdesign">« Webdesign</a></p>

		<h2>Happy webbies</h2>
		<p>Leuke opzet van een website voor <strong>webnerds</strong>. Download 
		<a href="http://www.happywebbies.com/download" title="Desktop achtergronden" target="_blank" rel="link">wallpapers</a> van je favoriete webguru.</p>
	
		<h2>Firebug</h2>
			<p><a href="http://www.getfirebug.com/?link=2" title="Firebug is a free web development tool for Firefox">
			<img src="/img/firebug2-trans.png" width="109" height="67" border="0" alt="Firebug - Web Development Evolved"></a></p>
		<p>De tool voor webdesigners die met Css werken en bugs oplossen.</p>
		
		<h2>Links</h2>
		
<h3>Css webdesign</h3>
<ul class="clean">
<li><a href="http://www.alistapart.com/" title="Dinsdag 11 maart 2008" target="_blank" rel="link">AListApart</a></li>
<li><a href="http://www.csszengarden.com/" title="Zondag 21 augustus 2005" target="_blank" rel="link">Css Zen Garden</a></li>
<li><a href="http://www.meyerweb.com/" title="Zondag 21 augustus 2005" target="_blank" rel="link">Meyerweb.com</a></li>
<li><a href="http://www.webstandards.org/" title="Zondag 21 augustus 2005" target="_blank" rel="link">WASP</a></li>
<li><a href="http://www.zeldman.com/" title="Zondag 21 augustus 2005" target="_blank" rel="link">Zeldman.com</a></li>
</ul>
<h3>External websites</h3>
<ul class="clean">
<li><a href="http://www.adobe.com/" title="Dinsdag 26 juli 2005" target="_blank" rel="link">Adobe</a></li>
<li><a href="http://www.apple.com/" title="Dinsdag 26 juli 2005" target="_blank" rel="link">Apple</a></li>
<li><a href="http://www.macfreak.nl/" title="Dinsdag 26 juli 2005" target="_blank" rel="link">MacFreak</a></li>
<li><a href="http://www.macosxhints.com/" title="Dinsdag 26 juli 2005" target="_blank" rel="link">MacOSX Hints</a></li>
<li><a href="http://www.macosx.nl/" title="Dinsdag 26 juli 2005" target="_blank" rel="link">MacOSX.nl</a></li>
<li><a href="http://www.mozilla.org/products/firefox" title="Zaterdag 06 oktober 2007" target="_blank" rel="link">Mozilla Firefox</a></li>
<li><a href="http://www.peachpit.com/" title="Zondag 23 juli 2006" target="_blank" rel="link">PeachPit Press</a></li>
<li><a href="http://www.planet.nl/" title="Zondag 27 november 2005" target="_blank" rel="link">Planet Internet</a></li>
<li><a href="http://www.sensible.com/" title="Zondag 23 juli 2006" target="_blank" rel="link">Sensible.com</a></li>
<li><a href="http://www.welovewii.nl/" title="Woensdag 29 augustus 2007" target="_blank" rel="link">We Love Wii</a></li>
</ul>
<h3>iTunes Music Store</h3>
<ul class="clean">
<li><a href="http://phobos.apple.com/WebObjects/MZStore.woa/wa/viewAlbum?id=78967460&amp;s=143452" title="Woensdag 16 augustus 2006" target="_blank" rel="link">James Blunt - Back to Bedlam</a></li>
<li><a href="http://phobos.apple.com/WebObjects/MZStore.woa/wa/viewAlbum?id=78922696&amp;s=143452" title="Woensdag 16 augustus 2006" target="_blank" rel="link">Kraak &amp; Smaak - Boogie Angst</a></li>
<li><a href="http://phobos.apple.com/WebObjects/MZStore.woa/wa/viewAlbum?id=17641181&amp;s=143452" title="Woensdag 16 augustus 2006" target="_blank" rel="link">Massive Attack - Mezzanine</a></li>
<li><a href="http://phobos.apple.com/WebObjects/MZStore.woa/wa/viewAlbum?id=18219190&amp;s=143452" title="Woensdag 16 augustus 2006" target="_blank" rel="link">Soel - Memento</a></li>
<li><a href="http://phobos.apple.com/WebObjects/MZStore.woa/wa/viewAlbum?id=118028886&amp;s=143452" title="Woensdag 16 augustus 2006" target="_blank" rel="link">Thievery Corporation - Sound from the Thievery Hi-Fi</a></li>
</ul>
<h3>Mac OS X</h3>
<ul class="clean">
<li><a href="http://www.opendoor.com/doorstop/" title="Maandag 05 februari 2007" target="_blank" rel="link">Doorstop X Firewall</a></li>
<li><a href="http://web.mac.com/simon_elliott/iWeb/simon_elliott%40mac.com/Software.html" title="Dinsdag 18 september 2007" target="_blank" rel="link">Gratis OpenSource Mac OS X software</a></li>
<li><a href="http://www.joshbuhler.com/2005/07/05/setting-up-the-subversion-client-on-mac-os-x/" title="Vrijdag 16 juni 2006" target="_blank" rel="link">Subversion op Mac OS X Tiger</a></li>
</ul>
<h3>Webservers</h3>
<ul class="clean">
<li><a href="http://tigervittles.com/?p=9" title="Vrijdag 16 juni 2006" target="_blank" rel="link">Mac als Hosting provider</a></li>
<li><a href="http://tigervittles.com/?p=10" title="Vrijdag 16 juni 2006" target="_blank" rel="link">WebDAV op Mac OS X Tiger</a></li>
</ul>
<h3>Widgets</h3>
<ul class="clean">
<li><a href="http://www.colourmod.com/" title="Donderdag 18 augustus 2005" target="_blank" rel="link">ColourMod</a></li>
<li><a href="http://www.dashboardwidgets.com/" title="Donderdag 18 augustus 2005" target="_blank" rel="link">Dashboard Widgets.com</a></li>
<li><a href="http://www.benkazez.com/icalevents.php" title="Donderdag 18 augustus 2005" target="_blank" rel="link">iCal events</a></li>
<li><a href="http://www.dashboardwidgets.com/showcase/details.php?wid=628" title="Donderdag 18 augustus 2005" target="_blank" rel="link">iCal ToDo's</a></li>
<li><a href="http://www.dashboardwidgets.com/showcase/details.php?wid=486" title="Donderdag 18 augustus 2005" target="_blank" rel="link">iTunes Lyrics</a></li>
<li><a href="http://www.acdesigns.biz/itmsrss/" title="Donderdag 18 augustus 2005" target="_blank" rel="link">iTunes RSS</a></li>
<li><a href="http://www.vanwilligen.nl/widgets.html" title="Vrijdag 19 augustus 2005" target="_blank" rel="link">NS Reisplanner en Mac nieuws</a></li>
<li><a href="http://www.raggers.net/pathos/widgets.php" title="Donderdag 18 augustus 2005" target="_blank" rel="link">VanDale</a></li>
<li><a href="http://www.widgetworld.nl/" title="Vrijdag 19 augustus 2005" target="_blank" rel="link">WidgetWorld</a></li>
<li><a href="http://www.whatsinthehouse.com/widgets/" title="Donderdag 18 augustus 2005" target="_blank" rel="link">WikiPedia</a></li>
</ul>


		
	</div>

    <div id="main" class="grid_11 omega">
		<h1 class=" flir-replaced"><img alt="Webdesign boeken" class="flir-image" src="/flir/generate.php?text=Webdesign%20boeken&amp;h=23&amp;w=630&amp;fstyle=%7B%22mode%22%3A%22%22%2C%22output%22%3A%22auto%22%2C%22cSize%22%3A%2223%22%2C%22cColor%22%3A%22rgb%28214%2C%2079%2C%2032%29%22%2C%22cFont%22%3A%22steak%22%2C%22realFontHeight%22%3A%22false%22%2C%22dpi%22%3A%2296%22%2C%22cBackground%22%3A%22rgba%280%2C%200%2C%200%2C%200%29%22%2C%22cSpacing%22%3A%22%22%2C%22cLine%22%3A%221.0024%22%2C%22cAlign%22%3A%22left%22%2C%22cTransform%22%3A%22none%22%7D" style="border: none;"></h1>
			<p>
				Onderstaand staat een rijtje boeken die elke webdesigner zou moeten lezen. Voor het maken van een goede website komen heel wat technieken kijken.
			</p>
			
			<h4>Css Zengarden</h4>
			<p>
				Neem zeker een kijkje op <a href="http://www.csszengarden.com/" title="Mooiste voorbeelden van Css gebruik" target="_blank" rel="link">Css Zengarden</a> en blader eens 
				door de verschillende Css stylesheets. De meest mooie ontwerpen (allemaal gemaakt met Css) zijn hier te zien.
			</p>
			
			<h2>Boek reviews</h2>
			
			<div class="bookReview">
				<h3 id="jeffrey-zeldman"><a href="http://www.zeldman.com/dwws/" title="Designing with web standards" target="_blank" rel="link">Jeffery Zeldman - Desiging with web standards (2e edition)</a></h3>
				
				<p>
					<a href="http://www.zeldman.com/dwws/" title="Designing with web standards" target="_blank" rel="">
					<img class="float_right" src="/img/dwws2.jpg" alt="Boek cover - Desiging with web standards"></a>
					Een goed boek dat iedere webdesigner / webdeveloper moet lezen is
					<a href="http://www.zeldman.com/" title="Jeffery Zeldman presents: The Daily Report" target="_blank" rel="link">Jeffery Zeldman's</a> - Desiging with web standards
					<em>(nu in 2e edition)</em>.
				</p>
				
				<p>
					Het boek gaat niet in detail vertellen hoe je moet vormgeven of wat nodig hebt om een goede website te maken. 
					<strong>Het legt waarom we webstandaarden moeten gebruiken</strong> en wat de overduidelijke voordelen er van zijn.
					Ook wordt verteld hoe je andere (collega's, bazen en klanten) zal overtuigen van het gebruik van web standaarden.
					Niet veel boeken die over websites bouwen gaan, HTML programmering en Css nemen alle web browser en platformen eens tegen het licht. 
					De mensen die er echt verstand van hebben
					blijven gelukkig niet allemaal op het Microsoft platform met Internet Explorer hangen.
				</p>
			</div>
			
			<div class="bookReview">
				<h3 id="steve-krug"><a href="http://www.sensible.com/buythebook.html" title="Don't make me think" target="_blank" rel="link">Steve Krug - Don't make me think! (2e edition)</a></h3>
				
				<p>
					<a href="http://www.sensible.com/buythebook.html" title="Don't make me think" target="_blank" rel="">
					<img class="float_right" src="/img/dmmt2.jpg" alt="Boek cover - Don't make me think"></a>
					Geweldig en af en toe grappig boek over de manier waarop we het internet echt gebruiken. Hoe mensen meer <strong>pagina's scannen</strong> 
					dan daadwerkelijk lezen. Hij verteld veel over
					de dingen die eigenlijk heel normaal, gewoon en vooral voorspelbaar zijn in maken van een goede website.
				</p>
				
				<p>
					Hoe bepaalde elementen zich op een website zich voorspelbaar maken en gedragen. En ook op de goede plek staan. Maar vooral! <strong>Don't make me think</strong>.
				</p>
				
				<p>	
					Je gezonde verstand gebruiken en <strong>gebruikers van websites niet laten na denken</strong> over de navigatie of hoe bepaalde dingen werken op een website.
				</p>
			</div>
			
			<div class="bookReview">
				<h3 id="jeremy-keith-domscripting"><a href="http://www.domscripting.com/book/" title="DomScripting" target="_blank" rel="link">Jeremy Keith - DomScripting</a></h3>
				<p>
					<a href="http://www.domscripting.com/book/" title="DomScripting" target="_blank" rel="">
					<img src="/img/domscripting.gif" class="float_right" alt="DomScripting by Jeremy Keith"></a>
					Voor webdesigners die al wat kennis van Css hebben maar ook graag JavaScript willen leren is dit een heel goed boek. Als je voorstander ben van 
					webstandaarden, het scheiden van content, structuur, behaviour en presentation is een
					goede aanvulling in deze gedachte gang. <a href="http://en.wikipedia.org/wiki/Progressive_enhancement" target="_blank" rel="link">Progressive enhancement</a> &amp; Graceful 
					degradation zijn de sleutelwoorden en zoals ik graag website wil maken.
				</p>
			</div>
			
			<div class="bookReview">
				<h3 id="jeremy-keith-bulletproof-ajax"><a href="http://bulletproofajax.com/" title="Bulletproof Ajax" target="_blank" rel="link">Jeremy Keith - Bulletproof Ajax</a></h3>
				
				<p>
					<a href="http://www.bulletproofajax.com//" title="Bulletproof Ajax" target="_blank" rel="">
					<img src="/img/bulletproof_ajax.gif" class="float_right" alt="DomScripting by Jeremy Keith"></a>
					<a href="http://domscripting.com/blog/display/41" title="Jeremy Keith about Hijax" target="_blank" rel="link">Hijax</a>, een goede unobtrusive manier voor het 
					implementeren van Ajax technieken.
				</p>
				
				<p>
					Ajax ... het <strong>buzzword</strong> van de laatste tijd op webdesign gebied. Er zijn veel voordelen maar net zoveel nadelen te noemen over deze 
					techniek die toch al een aantal jaar bestaat.
				</p>
			</div>
			
			
			<div class="bookReview">
				<h3 id="john-resig-pro-javascript-techniques"><a href="http://jspro.org/" title="Pro Javascript Techniques" target="_blank" rel="link">John Resig - Pro Javascript Techniques</a></h3>
				
				<p>
					<a href="http://jspro.org/" title="Pro Javascript Techniques" target="_blank" rel="">
					<img src="/img/pro_javascript_book.jpg" class="float_right" alt="Pro Javascript Techniques by John Resig"></a>
					Heel goed boek als volgende stap om te lezen na <strong>DomScripting</strong> . <a href="http://ejohn.org/" target="_blank" rel="link">John Resig</a> legt uit 
					hoe je bepaalde routines kan vergemakkelijken en functies kan schrijven die elkaar aanvullen.
				</p>	
				<p>	
					Op deze manier wordt je Javascript code heel kort en krachtig. Op de manier zoals hij het uitlegt kun je makkelijk de DOM tree aflopen. Het is een 
					pittig boek na DomScripting maar heel goed te doen.
				</p>
				<p>
					John Resig is ook de uitvinder, schrijven van <a href="http://jquery.com/" target="_blank" rel="link">jQuery</a>.
				</p>
			</div>		
			
			<div class="bookReview">
				<h3 id="eric-meyer-more-eric-meyer-on-css"><a href="http://more.ericmeyeroncss.com/about-book.html" title="More Eric Meyer on Css" target="_blank" rel="link">Eric Meyer - More Eric Meyer on Css</a></h3>
				
				<p>	
					<a href="http://more.ericmeyeroncss.com/about-book.html" title="More Eric Meyer on Css!" target="_blank" rel="">
					<img class="float_right" src="/img/more_e_meyer_css.jpg" alt="Boek cover - More Eric Meyer on Css!"></a>
					Dit is ook al weer de <strong>2e editie</strong> van <a href="http://www.meyerweb.com/" target="_blank" rel="link">Eric Meyer</a> op het gebied van Css webdesign. 
					Dit boek bevat leuke voorbeelden van het gebruik van Css.
				</p>
				
				<p>
					Een aantal praktijk voorbeelden worden hier gegeven op het gebied van Css. Het bouwen van een mooie photogallery, stylen van een raport en 
					een goed voorbeeld van een redesign van een fictieve website. Hierin laat hij zien hoe het met old-school tabellen is gebouwd en hoe deze website
					om te bouwen is naar Css.
				</p>
			</div>
			
			<div class="bookReview">
				<h3 id="eric-meyer-cascading-style-sheets"><a href="http://www.oreilly.com/catalog/css2/" title="More Eric Meyer on Css!" target="_blank" rel="link">Eric Meyer - Cascading Style Sheets: The Definitive Guide (2e edition)</a></h3>
				<p>
					<a href="http://www.oreilly.com/catalog/css2/" title="More Eric Meyer on Css!" target="_blank" rel="">
					<img class="float_right" src="/img/css_oreilly.jpg" alt="Boek cover - Cascading Style Sheets: The Definitive Guide, Second Edition"></a>
					Hij is wel de <strong>koning</strong> op het gebied van Css. Hij heeft ook voor <a href="http://www.oreilly.com/" title="O'Reilly website" target="_blank" rel="link">O'Reilly</a> 
					een aantal boeken geschreven over Css.
				</p>
				
				<p>
					Dit boek bevat vooral veel naslag werk en hoe de verschillende elementen van Css werken. Erg saai dus maar wel leerzaam.
					Op <a href="http://meyerweb.com/eric/css/edge/" title="Complexe voorbeelden met Css" target="_blank" rel="link">css/edge</a> staan een paar complexe voorbeelden van het 
					gebruik van Css in websites.
				</p>
			</div>	
		</div>

</Layout>