<div style="font-family: Verdana, Helvetica, Arial, sans-serif;font-size: 12px;color:#02436D;">
	<h3 style="font-family:Georgia,Helvetica,Arial,sans-serif;font-size:18px;color:#D64F20;">{naam} heeft een vraag / opmerking,</h3>
	
	<p>{bericht}</p>
	
	<hr style="margin-top:30px;border:0;border-top:1px solid #02436D;height:0px;overflow:hidden;" />
	<p style="margin-bottom:0px;"><strong>{naam}</strong></p>
	<p style="margin:0px;">E-mail: <a href="maito:{email}" style="color:#0092D2;">{email}</a></p>
	<p style="margin:0px;">Website: <a href="{website}" target="_blank" style="color:#0092D2;">{website}</a></p>
</div>