---
import Layout from '@/layouts/Layout.astro';
import Intro from '@/components/Intro.astro';
import ArticlesList from '@/components/ArticlesList.astro';
---

<Layout title="Atlantisdesign » HTTP 404 File not found">
	<Intro>
		Error 404: File not found
	</Intro>

    <aside id="side" class="grid_7">
		<h2>Artikelen</h2>
		
		<ArticlesList />
	</aside>

    <main id="main" class="grid_9 omega">
		<h1>Pagina niet gevonden</h1>

        <p>Deze pagina kan niet worden gevonden.</p>		
	</main>
</Layout>