---
import Layout from '../layouts/Layout.astro';
import MadeOnAMac from '../components/MadeOnAMac.astro';
import LinkList from '../components/LinkList.astro';
import Intro from '../components/Intro.astro';
---

<Layout title="Atlantisdesign » Mac & iTunes">
	<Intro>
		De Mac blijft een plaatje. Het is mijn favoriete computermerk. De elegantie en stijl van Apple met een jaren door ontwikkelde solide Unix bodem.
	</Intro>

    <aside id="side" class="grid_5">
		<h2 class="headTitle">iTunes!!</h2>

		<div id="iTunesList" style="visibility: visible;">
			<p>Mijn favorite iTunes artiesten.</p>
		</div>	
	
		<h2>MacBuyers Guide</h2>

		<p>Op de website van <a href="http://buyersguide.macrumors.com/" target="_blank" title="Mac Buyers Guide" rel="link">MacRumors</a> kun je kijken wat de 'life-cycle' van bepaalde Apple producten is.
		Goed om te weten dus wanneer je je nieuwe Apple product gaat aanschaffen of dat het toch handiger is om nog even te wachten.</p>

		<MadeOnAMac />
	
		<h2>Links</h2>

		<LinkList />
	</aside>

    <main id="main" class="grid_11 omega">
		<h1>Apple Macintosh</h1>
		
		<p>
			Via mijn opleiding kwam ik al gauw in aanmerking met de <a href="http://www.apple.com/" title="Apple's website" target="_blank" rel="link">Apple Macintosh</a>. Vanuit de grafisch wereld werd altijd gewerkt op de Mac.
			Mijn interesse bleef groeien en op mijn toemalige stage adres had ik een keus om te werken achter een Windows computer of toch maar de Mac.
			Ik koos natuurlijk voor de Mac en mijn voorliefde voor dit platform bleef groeien.
		</p>
		
		<p>
			Apple is enige tijd overgestapt op het <a href="http://nl.wikipedia.org/wiki/Unix" title="Wat is Unix?" target="_blank" rel="link">Unix</a> platform met haar Mac OS X.
			Het oude tijdperk van Mac OS 8 en 9 zijn voorgoed voorbij. Apple doet het goed in de grafische wereld en ook in het onderwijs wordt er veelvuldig gebruikt gemaakt
			van Apple Mac's. Zo ook op het <a href="http://www.glr.nl/" title="Grafisch Lyceum Rotterrdam" target="_blank" rel="link">Grafisch Lyceum Rotterdam</a> en in de grafische branche.
		</p>
		
		<p>
			Persoonlijk ben ik blij dat ik een aantal jaar geleden ben <strong>overgestapt</strong> van Windows op Mac OS X. Het platform werkt fantastisch en voor zover bekend 
			zijn er geen virussen in omloop. Met Unix als onderlaag van het besturingssysteem is alles goed geregeld en het zit potdicht. Met gebruikers gemak en <strong>eenvoud</strong> van Apple
			en de <strong>solide</strong> onderlaag van Unix maakt het de perfecte combinatie voor een goede computer om mee te werken. Zowel op grafisch gebied als op Unix nivo in combinatie met webservers.		</p>
		<h2>Mac en virussen, spyware, mallware, wormen en ander gespuis!! </h2>
			<p>Ja!! Daar gaan we weer. De bekende verhalen dat het Mac platform ook al overloopt van virussen en spy/mallware en wormen. Vanuit McAffee en andere antivirus software makers worden de Mac gebruikers aardig 'bang' gemaakt. Nergens voor nodig! </p>
			<p class="center"><a href="http://www.macfriend.nl/" target="_blank" title="Macfriend" rel=""><img src="/img/macfriend_stop.jpg" alt="Macfriend - stop"></a></p>
			<p>Wil je een veilige computer? Koop een Mac!!</p>
		<h2>Artikelen</h2>
		<p>
			Ik heb een aantal <a href="article.php" title="Artiekelen over de Mac en webservers">artikelen geschreven</a> hoe je van een Mac een <strong>webserver</strong> kunt maken. Zie de rechter zijkant. Deze pagina zal binnenkort nog verder worden uitgebreidt met sappige
			informatie waarom ik iedereen aanraad over te stappen naar de Mac. Ik zal je vertellen wat er zo 'beter' is aan de Mac en waar u op moet letten als u overstapt. De voordelen zullen
			uitgebreidt aan bod komen. Een Mac werkt gewoon prettiger. 
		</p>
			
			
		<h3 class="attention">Let op!</h3>
		<p>
			Atlantisdesign neemt geen verantwoording voor eventuele schade aan uw
			bestaand systeem.
		</p>
		
		<table class="design" cellspacing="0" summary="Lijst met artikelen">
	<caption>Atlantisdesign artikelen</caption>
	
	<tbody><tr>
			<th colspan="2">Mac OS X</th>
	</tr>
	<tr class="even" valign="top">
			<td width="120">
				<!--<a href="article_show.php?article_id=29">Subversion svnsync repository replication</a>-->
				<!--<a href="article/29">Subversion svnsync repository replication</a>-->
				<a href="/artikel/subversion-svnsync-repository-replication">Subversion svnsync repository replication</a>
			</td>
			<td>Met svnsync kan een slave-repository gesynchroniseerd worden met een master-repository. Een handige manier om een Subversion repository incrementeel te backupen. Dit kan naar een (externe) backup schijf of een andere computer over het netwerk.</td>				
	</tr>
	
	
	<tr class="odd" valign="top">
			<td width="120">
				<!--<a href="article_show.php?article_id=27">Subversion svnserve automatisch opstarten</a>-->
				<!--<a href="article/27">Subversion svnserve automatisch opstarten</a>-->
				<a href="/artikel/subversion-svnserve-automatisch-opstarten">Subversion svnserve automatisch opstarten</a>
			</td>
			<td>Subversion heeft ook een eigen svnserve deamon zodat het svn:// protocol gebruikt kan worden. Met een launchd plist (XML) bestand wordt bij het opstarten van de Mac automatisch  de svnserve daemon gestart.</td>				
	</tr>
	
	
	<tr class="even" valign="top">
			<td width="120">
				<!--<a href="article_show.php?article_id=26">Synergy delen van muis en toetsenbord</a>-->
				<!--<a href="article/26">Synergy delen van muis en toetsenbord</a>-->
				<a href="/artikel/synergy-delen-van-muis-en-toetsenbord">Synergy delen van muis en toetsenbord</a>
			</td>
			<td>Stel je werkt op een Mac en daarnaast moet je ook wel eens op de Windows computer wat doen. Zou het dan niet handig zijn om slechts 1 muis en toetsenbord te (hoeven) gebruiken voor beide computers tegelijk? Zeer handig voor bijvoorbeeld meerdere laptops met externe toetsenborden en draadloze muizen. Daarbij wordt ook een simpel clipboard gedeeld tussen de computers.</td>				
	</tr>
	
	
	<tr class="odd" valign="top">
			<td width="120">
				<!--<a href="article_show.php?article_id=22">VNC server remote desktop op MacOSX</a>-->
				<!--<a href="article/22">VNC server remote desktop op MacOSX</a>-->
				<a href="/artikel/vnc-server-remote-desktop-op-macosx">VNC server remote desktop op MacOSX</a>
			</td>
			<td>Natuurlijk bestaat er Apple Remote Desktop. Windows computers kunnen ook gebruik maken van RDP (Remote Desktop Connection). Maar het is ook mogelijk om vanaf een Windows computer, met VNC, een Mac of Linux computer te besturen.</td>				
	</tr>
	
	
	<tr class="even" valign="top">
			<td width="120">
				<!--<a href="article_show.php?article_id=19">Subversion post commit update op test website</a>-->
				<!--<a href="article/19">Subversion post commit update op test website</a>-->
				<a href="/artikel/subversion-post-commit-update-op-test-website">Subversion post commit update op test website</a>
			</td>
			<td>Een auto update op een backup kopie maken vanuit Subversion? Zodra er een Subversion commit actie is gemaakt wordt een andere working copy automatisch ge-update naar de laatste revisie. Een soort auto update dus.</td>				
	</tr>
	
	
	<tr class="odd" valign="top">
			<td width="120">
				<!--<a href="article_show.php?article_id=18">Subversion versie beheer op Mac OS X</a>-->
				<!--<a href="article/18">Subversion versie beheer op Mac OS X</a>-->
				<a href="/artikel/subversion-versie-beheer-op-mac-os-x">Subversion versie beheer op Mac OS X</a>
			</td>
			<td>Open-source versie beheer. Ideaal voor gebruik in het bouwen van websites waar bestanden vaak wijzigen, scripts getest worden en misschien niet meer werken. Dan is het handig om versies van alle bestanden centraal en handig te bewaren.</td>				
	</tr>
	
	
	<tr class="even" valign="top">
			<td width="120">
				<!--<a href="article_show.php?article_id=9">Het maken van een ISO bestand</a>-->
				<!--<a href="article/9">Het maken van een ISO bestand</a>-->
				<a href="/artikel/het-maken-van-een-iso-bestand">Het maken van een ISO bestand</a>
			</td>
			<td>Op het Windows platform wordt meer gebruik gemaakt van een .iso als zijnde Master disc-image formaat. Via een Unix command en een simpele Automator workflow kunnen we dat ook op de Mac.</td>				
	</tr>
	
	
	<tr class="odd" valign="top">
			<td width="120">
				<!--<a href="article_show.php?article_id=7">Windows e-mail overzetten</a>-->
				<!--<a href="article/7">Windows e-mail overzetten</a>-->
				<a href="/artikel/windows-e-mail-overzetten">Windows e-mail overzetten</a>
			</td>
			<td>Oke, je hebt nu je eigen Mac. Zou het niet handig zijn om je oude e-mail van je Pc Outlook Express naar je Mac te kunnen krijgen?</td>				
	</tr>
	
	<tr>
			<th colspan="2">Webservers</th>
	</tr>
	<tr class="even" valign="top">
			<td width="120">
				<!--<a href="article_show.php?article_id=28">Entropy PHP5 met GDLib op Leopard</a>-->
				<!--<a href="article/28">Entropy PHP5 met GDLib op Leopard</a>-->
				<a href="/artikel/entropy-php5-met-gdlib-op-leopard">Entropy PHP5 met GDLib op Leopard</a>
			</td>
			<td>De PHP 5.x versie op Entropy.ch (Marc Liyanage) bevat onder andere de [b]GDLib library[/b] waarmee dynamisch plaatje gegeneerd kunnen worden. Deze GDLib library staat helaas niet standaard op de default installatie van PHP die Apple ons biedt.</td>				
	</tr>
	
	
	<tr class="odd" valign="top">
			<td width="120">
				<!--<a href="article_show.php?article_id=25">Apache deflate en expire headers</a>-->
				<!--<a href="article/25">Apache deflate en expire headers</a>-->
				<a href="/artikel/apache-deflate-en-expire-headers">Apache deflate en expire headers</a>
			</td>
			<td>Comprimeren van bepaalde bestandstypen voordat deze naar de eindgebruiker gestuurd worden. Daarbij kunnen we ook aangeven dat bepaalde bestanden voor langere tijd bewaard kunnen worden in de webbrowser cache.</td>				
	</tr>
	
	
	<tr class="even" valign="top">
			<td width="120">
				<!--<a href="article_show.php?article_id=24">Apache mod_vhost_alias virtual hosts</a>-->
				<!--<a href="article/24">Apache mod_vhost_alias virtual hosts</a>-->
				<a href="/artikel/apache-mod_vhost_alias-virtual-hosts">Apache mod_vhost_alias virtual hosts</a>
			</td>
			<td>Snel en makkelijk virtual-hosts gebruiken. Door simpelweg twee mappen aan te maken en een regel in het hosts file.</td>				
	</tr>
	
	
	<tr class="odd" valign="top">
			<td width="120">
				<!--<a href="article_show.php?article_id=23">Trac op MacOS X Leopard</a>-->
				<!--<a href="article/23">Trac op MacOS X Leopard</a>-->
				<a href="/artikel/trac-op-macos-x-leopard">Trac op MacOS X Leopard</a>
			</td>
			<td>Via een lokale website makkelijk Subversion repository en changesets bekijken. Geintegreerde Wiki, issue- bugtracking systeem. Precies kunnen aangeven, d.m.v. integratie met Subversion en een ticketsysteem, wat er in bepaalde bestanden veranderd is en welke gebruikers zaken moeten oplossen.</td>				
	</tr>
	
	
	<tr class="even" valign="top">
			<td width="120">
				<!--<a href="article_show.php?article_id=21">PureFTPd installeren op MacOSX Leopard</a>-->
				<!--<a href="article/21">PureFTPd installeren op MacOSX Leopard</a>-->
				<a href="/artikel/pureftpd-installeren-op-macosx-leopard">PureFTPd installeren op MacOSX Leopard</a>
			</td>
			<td>Een betere, makkelijkere te onderhouden FTP server op Mac OS X. Met gebruik van virtual-users.</td>				
	</tr>
	
	
	<tr class="odd" valign="top">
			<td width="120">
				<!--<a href="article_show.php?article_id=20">Subversion beschikbaar maken via Apache</a>-->
				<!--<a href="article/20">Subversion beschikbaar maken via Apache</a>-->
				<a href="/artikel/subversion-beschikbaar-maken-via-apache">Subversion beschikbaar maken via Apache</a>
			</td>
			<td>Op deze manier kun je via internet projecten downloaden, bewerken en de wijzigingen terug sturen naar Subversion. Dit maakt het mogelijk om met meerdere mensen aan een project te werken.</td>				
	</tr>
	
	
	<tr class="even" valign="top">
			<td width="120">
				<!--<a href="article_show.php?article_id=17">WebDAV op Mac OS X Leopard</a>-->
				<!--<a href="article/17">WebDAV op Mac OS X Leopard</a>-->
				<a href="/artikel/webdav-op-mac-os-x-leopard">WebDAV op Mac OS X Leopard</a>
			</td>
			<td>Met webDAV kun je op een soort iDisk manier bestanden delen via het internet. Via Mac en Windows kunnen bestanden van en naar de Mac geschreven worden alsof het een netwerk schijf is.</td>				
	</tr>
	
	
	<tr class="odd" valign="top">
			<td width="120">
				<!--<a href="article_show.php?article_id=16">Apache Server Side Includes SSI</a>-->
				<!--<a href="article/16">Apache Server Side Includes SSI</a>-->
				<a href="/artikel/apache-server-side-includes-ssi">Apache Server Side Includes SSI</a>
			</td>
			<td>Je maakt voor een website bijvoorbeeld de navigatie in een apart HTML bestand. Dit is een stukje HTML dat je graag in andere pagina's elke keer wilt laten terug komen op een bepaalde plek. Bovendien wil je niet moeilijk gaan doen met bijvoorbeeld PHP. Met Apache SSI (Server-Side Includes) kun je makkelijk en snel bijvoorbeeld stukken HTML in andere pagina's laten terug komen / embedden.</td>				
	</tr>
	
	
	<tr class="even" valign="top">
			<td width="120">
				<!--<a href="article_show.php?article_id=15">Apache Virtual hosts</a>-->
				<!--<a href="article/15">Apache Virtual hosts</a>-->
				<a href="/artikel/apache-virtual-hosts">Apache Virtual hosts</a>
			</td>
			<td>Als webdesigner / webdeveloper heb je vaak te maken met root relative paden naar externe bestanden die gebruikt worden op de website. Als je websites ontwikkeld in je eigen Sites directory kom je met dit nogal voor een probleem te staan. Hier is een mooie oplossing voor welke ik persoonlijk heel erg handig vind.</td>				
	</tr>
	
	
	<tr class="odd" valign="top">
			<td width="120">
				<!--<a href="article_show.php?article_id=14">Apache htaccess en mod_rewrite op MacOSX Leopard</a>-->
				<!--<a href="article/14">Apache htaccess en mod_rewrite op MacOSX Leopard</a>-->
				<a href="/artikel/apache-htaccess-en-mod_rewrite-op-macosx-leopard">Apache htaccess en mod_rewrite op MacOSX Leopard</a>
			</td>
			<td>MacOS X Leopard heeft de Apache 2.x webserver. Ook hier gaan we de mod_rewrite module gebruiken. Eigelijk moet er maar 1 configuratie regel aangepast te worden.</td>				
	</tr>
	
	
	<tr class="even" valign="top">
			<td width="120">
				<!--<a href="article_show.php?article_id=13">PHP5 op MacOSX Leopard</a>-->
				<!--<a href="article/13">PHP5 op MacOSX Leopard</a>-->
				<a href="/artikel/php5-op-macosx-leopard">PHP5 op MacOSX Leopard</a>
			</td>
			<td>Apple heeft in haar nieuwe vier voeter voor ons de PHP5 module al voor geinstalleerd. Deze gaan we met 1 terminal commando aanzetten.</td>				
	</tr>
	
	
	<tr class="odd" valign="top">
			<td width="120">
				<!--<a href="article_show.php?article_id=12">MySQL op MacOSX Leopard</a>-->
				<!--<a href="article/12">MySQL op MacOSX Leopard</a>-->
				<a href="/artikel/mysql-op-macosx-leopard">MySQL op MacOSX Leopard</a>
			</td>
			<td>Er is bij het schrijven van dit artikelen nog geen officiele versie uit van MySQL voor Mac OS X Leopard v10.5. Hier een omweg.</td>				
	</tr>
	
	
	<tr class="even" valign="top">
			<td width="120">
				<!--<a href="article_show.php?article_id=11">Apache htaccess en mod_rewrite op MacOSX Tiger</a>-->
				<!--<a href="article/11">Apache htaccess en mod_rewrite op MacOSX Tiger</a>-->
				<a href="/artikel/apache-htaccess-en-mod_rewrite-op-macosx-tiger">Apache htaccess en mod_rewrite op MacOSX Tiger</a>
			</td>
			<td>Met Apache mod_rewrite kunnen we URL's netjes herschrijven zodat men aan het webadres kan zien waar de pagina over gaat. Dit is tevens heel goed voor SEO (Search Engine Friendly) url's, de vindbaarheid en content voorspelbaarheid van de webpagina. Hoe doen we dat op Mac OS X?</td>				
	</tr>
	
	
	<tr class="odd" valign="top">
			<td width="120">
				<!--<a href="article_show.php?article_id=8">WebDAV op Mac OS X Tiger</a>-->
				<!--<a href="article/8">WebDAV op Mac OS X Tiger</a>-->
				<a href="/artikel/webdav-op-mac-os-x-tiger">WebDAV op Mac OS X Tiger</a>
			</td>
			<td>Apple's iDisk is een WebDAV server. Je kan je eigen Mac ook zo opzetten dat je deze ook op de WebDAV manier te benaderen is.</td>				
	</tr>
	
	
	<tr class="even" valign="top">
			<td width="120">
				<!--<a href="article_show.php?article_id=6">Apache Protect</a>-->
				<!--<a href="article/6">Apache Protect</a>-->
				<a href="/artikel/apache-protect">Apache Protect</a>
			</td>
			<td>Als je de Mac gebruikt voor websites kun je met dit programma'tje makkelijk mappen voorzien van een zelf gemaakte username en wachtwoord.</td>				
	</tr>
	
	
	<tr class="odd" valign="top">
			<td width="120">
				<!--<a href="article_show.php?article_id=4">Postfix mail server op MacOSX Tiger</a>-->
				<!--<a href="article/4">Postfix mail server op MacOSX Tiger</a>-->
				<a href="/artikel/postfix-mail-server-op-macosx-tiger">Postfix mail server op MacOSX Tiger</a>
			</td>
			<td>Activeer de ingebouwde mail server van Mac OS X. U kunt nu vanaf uw eigen Mac direct mail versturen.</td>				
	</tr>
	
	
	<tr class="even" valign="top">
			<td width="120">
				<!--<a href="article_show.php?article_id=1">PHP5 op MacOSX Tiger</a>-->
				<!--<a href="article/1">PHP5 op MacOSX Tiger</a>-->
				<a href="/artikel/php5-op-macosx-tiger">PHP5 op MacOSX Tiger</a>
			</td>
			<td>PHP is een Open-Source Server Side scripting taal welke zeer populair is en blijft groeien. Ondertussen is men bij versie 5. Op onze Mac staat versie 4.</td>				
	</tr>
	
	
	<tr class="odd" valign="top">
			<td width="120">
				<!--<a href="article_show.php?article_id=2">PureFTPd installeren op MacOSX Tiger</a>-->
				<!--<a href="article/2">PureFTPd installeren op MacOSX Tiger</a>-->
				<a href="/artikel/pureftpd-installeren-op-macosx-tiger">PureFTPd installeren op MacOSX Tiger</a>
			</td>
			<td>Het opzetten van een goede FTP server hoeft niet moeilijk te zijn. Apple heeft een FTP server in alle versies van Mac OS X ingebouwd.</td>				
	</tr>
	
	
	<tr class="even" valign="top">
			<td width="120">
				<!--<a href="article_show.php?article_id=3">MySQL op MacOSX Tiger</a>-->
				<!--<a href="article/3">MySQL op MacOSX Tiger</a>-->
				<a href="/artikel/mysql-op-macosx-tiger">MySQL op MacOSX Tiger</a>
			</td>
			<td>PHP kan goed samenwerken met de MySQL database. Het wordt veel toegepast op website met dynamische content. Het is gratis te gebruiken voor eigen gebruik en leer doeleinden.</td>				
	</tr>		
</tbody>
</table>			
			
			<h1>Muziek beheerbaar maken</h1>
			
			<p>
				Vroeger heb ik veel programma'tje geprobeert om muziek mee te beheren. Zoals <a href="http://www.winamp.com/" title="WinAmp" target="_blank" rel="link">WinAmp</a> 
				bijvoorbeeld en zelfs de <a href="http://www.microsoft.com/windows/windowsmedia/default.mspx" title="Microsoft Windows Media Player" target="_blank" rel="link">Windows Media Player</a>.
				Ja, ik heb vroeger ook een Windows PC gehad!
			</p>		
			
			<h3>Nadelen</h3>
			<p>
				Geen van alle kwam in de buurt van prettig werken met vele muziek bestanden. Het nadeel wat ik altijd vond is dat je elke keer weer van die play-listen
				moet aanmaken en niet alle gegeven werden getoont. Daarbij kwam nog eens dat ik de interfaces erg onhandig vond.
			</p>
			
			<p>
				Bovendien ... heeft iemand ooit wel eens succesvol een audio cd kunnen branden met de Microsoft Media Player? Nou ik heb wel vijf cd's weg moeten gooien of de laaste paar 
				nummers staan er niet een op.
			</p>
					
			<h2>Apple iTunes</h2>
		
			<p>
				Ik heb de eerste versies van Apple's iTunes mogen bekijken in het Mac OS 8 en 9 tijdperk. Het zag er veel belovend uit en was makkelijk te bedienen. Geen ingewikkelde
				programma structuur. Ik hou er ook van als een programma in een oogopslag duidelijkheid toont. Ik heb een hekel aan zoeken of een programma leren kennen.
			</p>
			
			<p class="center"><a href="http://www.apple.com/itunes" title="Apple iTunes"><img src="/img/itunes.jpg" alt="Apple iTunes"></a></p>
			
			<p>
				Ik adviseer iedereen, ook de Windows gebruikers, om <a href="http://www.apple.com/itunes/" title="Download Apple's iTunes!!" target="_blank" rel="link">Apple's iTunes</a> te gebruiken voor muziek en online muziek downloads.
				Het programma is helder, bevat opties voor een playlist en de mogelijkheid om zogenaamde <strong>smart playlist</strong> aan te maken. Deze lijsten zijn op basis van <strong>criteria</strong> vast te stellen.
				Bijvoorbeeld de laatste gespeelde nummers van de afgelopen week. Of de nummers met jou eigen hoogst genoteerde waardering in de categorie Dance.
			</p>
			
			<h2>iTunes Music Store</h2>
			<p>
				De beste online muziek winkel!! Het heeft een tijd geduurd maar er is een <strong>Nederlandse versie</strong> van de online muziek winkel.
				Nu kan men dus ook Dance music vinden wat populair is in Europa. Er blijven natuurlijk verschillen in muziek voorkeur per continent.
			</p>
			
			<h3>Goede persoonlijk muziek</h3>
			<p>
				Dit zijn een aantal cd's die ik goed vind en te verkrijgen zijn in de <strong>iTunes Music Store</strong>.
				Als je op de link klikt opent iTunes zich automatisch en neemt u mee naar de Music Store waar u naar voorstukjes van het album kunt luisteren. Geheel gratis!!
			</p>

			
<h3>iTunes Music Store</h3>

<ul class="clean">
	<li><a href="http://phobos.apple.com/WebObjects/MZStore.woa/wa/viewAlbum?id=78967460&amp;s=143452" title="Woensdag 16 augustus 2006" target="_blank" rel="link">James Blunt - Back to Bedlam</a></li>
	<li><a href="http://phobos.apple.com/WebObjects/MZStore.woa/wa/viewAlbum?id=78922696&amp;s=143452" title="Woensdag 16 augustus 2006" target="_blank" rel="link">Kraak &amp; Smaak - Boogie Angst</a></li>
	<li><a href="http://phobos.apple.com/WebObjects/MZStore.woa/wa/viewAlbum?id=17641181&amp;s=143452" title="Woensdag 16 augustus 2006" target="_blank" rel="link">Massive Attack - Mezzanine</a></li>
	<li><a href="http://phobos.apple.com/WebObjects/MZStore.woa/wa/viewAlbum?id=18219190&amp;s=143452" title="Woensdag 16 augustus 2006" target="_blank" rel="link">Soel - Memento</a></li>
	<li><a href="http://phobos.apple.com/WebObjects/MZStore.woa/wa/viewAlbum?id=118028886&amp;s=143452" title="Woensdag 16 augustus 2006" target="_blank" rel="link">Thievery Corporation - Sound from the Thievery Hi-Fi</a></li>
</ul>	
			
			<h2>Veilig muziek downloaden met je bank- of girorekening</h2>
			<p>
				Het is mogelijk om <strong>zonder creditcard</strong> toch online muziek te downloaden van de iTunes Music Store. Hiervoor kun je je eigen bank- of girorekening voor gebruiken.
				Via de website van <a href="http://www.clickandbuy.com/NL/nl/" title="Click 'N Buy" target="_blank" rel="link">Firstgate</a> kunt u een online <strong>Click 'N Buy</strong> account aanmaken welke gekoppeld wordt aan uw bank- of girorekening.
			</p>
			
			<p>
				In iTunes maak je een account aanmaken en daarbij geef je aan dat je via Clik 'N Buy muziek wilt kopen. Vul de gegevens in die je van Firstgate krijgt en je kunt beginnen met <strong>legaal
				online muziek te downloaden</strong>. De meeste muziek nummer kosten slechts € 0,99 cent.
			</p>
			
			<h3>Persoonlijke ervaring</h3>
			<p>
				Ik ben ook altijd huiverig geweest bij online betalingen. Maar ik moet zeggen dat alles perfect verloopt bij de aanschaf van online muziek via de iTunes Music Store.
				In de Music Store kan ik gewoon muziek aanklikken en een boodschappen mantje aanmaken. Als ik tevreden ben koop het in één keer en het downloaden gaat ook heel vlot. Binnen
				enkele minuten heb ik een nieuwe collectie muziek. <strong>Per email krijg je gelijk een bevestiging</strong> dat Firstgate de nota van de iTunes Music Store heeft ontvangen en dat het verschuldigde bedrag
				binnen enkele werkdagen van mijn rekening zal worden afgeschreven. Het werkt gewoon perfect!!
			</p>
			
			<h2>Apple iPod</h2>
			<p>
				<img class="float_left" src="/img/ipod.jpg" alt="Apple iPod Photo">Een kleine twee jaar heb ik ook een <a href="http://www.apple.com/ipod/" title="Apple iPod" target="_blank" rel="link">Apple iPod</a> aangeschaft. Een vierde generatie (net voor de iPod Photo). Ik heb ooit in mijn school periode een echt 'My first Sony' - walkman gehad. 
				Maar de iPod is mijn tweede muziek speler. Ik moet zeggen dat ik eerst het nut er niet van inzag om zo'n ding elke keer mee te slepen. Maar de eenvoud en koppeling met iTunes is gewoon
				verbazingwekkend. En de zojuist gekochte online muziek wordt zonder enige moeite op m'n iPod gezet en speelt voortreffelijk.
			</p>
			
			<h3>Rage</h3>
			<p>
				Het begint een beetje een rage te worden om bezitter te zijn van een iPod. Als ik op straat loop kan ik tellen hoeveel mensen er een iPod in hun broekzak hebben zitten. Dat kun je
				zien aan de witte oordopjes die heel erg opvallen. Ik ben er ook fan van geworden. Zeker omdat ik een beetje Apple fan/freak ben.
			</p>			
	</main>
</Layout>