---
import Layout from '../layouts/Layout.astro';
import MadeOnAMac from '../components/MadeOnAMac.astro';
---

<Layout title="Atlantisdesign » Contact">
    <div id="intro" class="grid_16">
		<blockquote>
			<p>Al geef ik geen uitgebreide ondersteuning op artikelen die ik geschreven hebt kunt u wel contact opnemen.</p>
		</blockquote>
	</div>

    <div class="clear">&nbsp;</div>

    <div id="side" class="grid_5">
		
        <MadeOnAMac />
	
		<h2>Links</h2>
		
<h3>Css webdesign</h3>
<ul class="clean">
<li><a href="http://www.alistapart.com/" title="Dinsdag 11 maart 2008" target="_blank" rel="link">AListApart</a></li>
<li><a href="http://www.csszengarden.com/" title="Zondag 21 augustus 2005" target="_blank" rel="link">Css Zen Garden</a></li>
<li><a href="http://www.meyerweb.com/" title="Zondag 21 augustus 2005" target="_blank" rel="link">Meyerweb.com</a></li>
<li><a href="http://www.webstandards.org/" title="Zondag 21 augustus 2005" target="_blank" rel="link">WASP</a></li>
<li><a href="http://www.zeldman.com/" title="Zondag 21 augustus 2005" target="_blank" rel="link">Zeldman.com</a></li>
</ul>
<h3>External websites</h3>
<ul class="clean">
<li><a href="http://www.adobe.com/" title="Dinsdag 26 juli 2005" target="_blank" rel="link">Adobe</a></li>
<li><a href="http://www.apple.com/" title="Dinsdag 26 juli 2005" target="_blank" rel="link">Apple</a></li>
<li><a href="http://www.macfreak.nl/" title="Dinsdag 26 juli 2005" target="_blank" rel="link">MacFreak</a></li>
<li><a href="http://www.macosxhints.com/" title="Dinsdag 26 juli 2005" target="_blank" rel="link">MacOSX Hints</a></li>
<li><a href="http://www.macosx.nl/" title="Dinsdag 26 juli 2005" target="_blank" rel="link">MacOSX.nl</a></li>
<li><a href="http://www.mozilla.org/products/firefox" title="Zaterdag 06 oktober 2007" target="_blank" rel="link">Mozilla Firefox</a></li>
<li><a href="http://www.peachpit.com/" title="Zondag 23 juli 2006" target="_blank" rel="link">PeachPit Press</a></li>
<li><a href="http://www.planet.nl/" title="Zondag 27 november 2005" target="_blank" rel="link">Planet Internet</a></li>
<li><a href="http://www.sensible.com/" title="Zondag 23 juli 2006" target="_blank" rel="link">Sensible.com</a></li>
<li><a href="http://www.welovewii.nl/" title="Woensdag 29 augustus 2007" target="_blank" rel="link">We Love Wii</a></li>
</ul>
<h3>iTunes Music Store</h3>
<ul class="clean">
<li><a href="http://phobos.apple.com/WebObjects/MZStore.woa/wa/viewAlbum?id=78967460&amp;s=143452" title="Woensdag 16 augustus 2006" target="_blank" rel="link">James Blunt - Back to Bedlam</a></li>
<li><a href="http://phobos.apple.com/WebObjects/MZStore.woa/wa/viewAlbum?id=78922696&amp;s=143452" title="Woensdag 16 augustus 2006" target="_blank" rel="link">Kraak &amp; Smaak - Boogie Angst</a></li>
<li><a href="http://phobos.apple.com/WebObjects/MZStore.woa/wa/viewAlbum?id=17641181&amp;s=143452" title="Woensdag 16 augustus 2006" target="_blank" rel="link">Massive Attack - Mezzanine</a></li>
<li><a href="http://phobos.apple.com/WebObjects/MZStore.woa/wa/viewAlbum?id=18219190&amp;s=143452" title="Woensdag 16 augustus 2006" target="_blank" rel="link">Soel - Memento</a></li>
<li><a href="http://phobos.apple.com/WebObjects/MZStore.woa/wa/viewAlbum?id=118028886&amp;s=143452" title="Woensdag 16 augustus 2006" target="_blank" rel="link">Thievery Corporation - Sound from the Thievery Hi-Fi</a></li>
</ul>
<h3>Mac OS X</h3>
<ul class="clean">
<li><a href="http://www.opendoor.com/doorstop/" title="Maandag 05 februari 2007" target="_blank" rel="link">Doorstop X Firewall</a></li>
<li><a href="http://web.mac.com/simon_elliott/iWeb/simon_elliott%40mac.com/Software.html" title="Dinsdag 18 september 2007" target="_blank" rel="link">Gratis OpenSource Mac OS X software</a></li>
<li><a href="http://www.joshbuhler.com/2005/07/05/setting-up-the-subversion-client-on-mac-os-x/" title="Vrijdag 16 juni 2006" target="_blank" rel="link">Subversion op Mac OS X Tiger</a></li>
</ul>
<h3>Webservers</h3>
<ul class="clean">
<li><a href="http://tigervittles.com/?p=9" title="Vrijdag 16 juni 2006" target="_blank" rel="link">Mac als Hosting provider</a></li>
<li><a href="http://tigervittles.com/?p=10" title="Vrijdag 16 juni 2006" target="_blank" rel="link">WebDAV op Mac OS X Tiger</a></li>
</ul>
<h3>Widgets</h3>
<ul class="clean">
<li><a href="http://www.colourmod.com/" title="Donderdag 18 augustus 2005" target="_blank" rel="link">ColourMod</a></li>
<li><a href="http://www.dashboardwidgets.com/" title="Donderdag 18 augustus 2005" target="_blank" rel="link">Dashboard Widgets.com</a></li>
<li><a href="http://www.benkazez.com/icalevents.php" title="Donderdag 18 augustus 2005" target="_blank" rel="link">iCal events</a></li>
<li><a href="http://www.dashboardwidgets.com/showcase/details.php?wid=628" title="Donderdag 18 augustus 2005" target="_blank" rel="link">iCal ToDo's</a></li>
<li><a href="http://www.dashboardwidgets.com/showcase/details.php?wid=486" title="Donderdag 18 augustus 2005" target="_blank" rel="link">iTunes Lyrics</a></li>
<li><a href="http://www.acdesigns.biz/itmsrss/" title="Donderdag 18 augustus 2005" target="_blank" rel="link">iTunes RSS</a></li>
<li><a href="http://www.vanwilligen.nl/widgets.html" title="Vrijdag 19 augustus 2005" target="_blank" rel="link">NS Reisplanner en Mac nieuws</a></li>
<li><a href="http://www.raggers.net/pathos/widgets.php" title="Donderdag 18 augustus 2005" target="_blank" rel="link">VanDale</a></li>
<li><a href="http://www.widgetworld.nl/" title="Vrijdag 19 augustus 2005" target="_blank" rel="link">WidgetWorld</a></li>
<li><a href="http://www.whatsinthehouse.com/widgets/" title="Donderdag 18 augustus 2005" target="_blank" rel="link">WikiPedia</a></li>
</ul>


			
	</div>

    <div id="main" class="grid_11 omega">
		<h1 class=" flir-replaced"><img alt="Contactformulier" class="flir-image" src="/flir/generate.php?text=Contactformulier&amp;h=23&amp;w=630&amp;fstyle=%7B%22mode%22%3A%22%22%2C%22output%22%3A%22auto%22%2C%22cSize%22%3A%2223%22%2C%22cColor%22%3A%22rgb%28214%2C%2079%2C%2032%29%22%2C%22cFont%22%3A%22steak%22%2C%22realFontHeight%22%3A%22false%22%2C%22dpi%22%3A%2296%22%2C%22cBackground%22%3A%22rgba%280%2C%200%2C%200%2C%200%29%22%2C%22cSpacing%22%3A%22%22%2C%22cLine%22%3A%221.0024%22%2C%22cAlign%22%3A%22left%22%2C%22cTransform%22%3A%22none%22%7D" style="border: none;"></h1>
		<div id="contactDisplay">
		
			<!-- contact form -->
						
			
			<form name="contactForm" id="contactForm" method="post" action="/atlantisMail.php">
				<p><label for="naam">Naam*</label><input type="text" id="naam" name="naam" class="validateRequired" value="Uw voor- en achternaam" title="Uw naam lijkt me toch wel verplicht" tabindex="1"></p>
				<p><label for="email">E-mail*</label><input type="text" id="email" name="email" class="validateEmail validateRequired" value="Een correct e-mail adres" title="Een correct e-mail adres zou ook handig zijn voor een reactie!" tabindex="2"></p>
				<p><label for="website">Website</label><input type="text" id="website" name="website" class="validateUrl" title="Een correcte webadres, met 'http://' zou helpen" value="Heeft u een website?" tabindex="3"></p>			
				<p><label for="onderwerp">Onderwerp*</label><input type="text" id="onderwerp" name="onderwerp" class="validateRequired" value="Waar heeft uw vraag of opmerking betrekking op?" title="Wat is het onderwerp van uw vraag / opmerking?" tabindex="4"></p>							
				<p><label for="bericht">Bericht*</label><textarea id="bericht" name="bericht" class="validateRequired" title="Heeft u geen vragen of niks te vertellen?" cols="20" rows="8" tabindex="5">... en uw vraag / opmerking is ...</textarea></p>
				<p><label><a href="http://nl.wikipedia.org/wiki/Captcha" target="_blank" title="Wat is dit?" rel="link">Captcha</a></label><img src="/visual-captcha.php" id="captchaImg" alt="captcha code"></p>
				<p><label for="user_code">Code*</label><input type="text" class="validateRequired" title="Typ de juiste code over van het plaatje" id="user_code" name="user_code" value="Typ de code hierboven over"></p>				
				
				<div class="formIndent">
					<p>
						<input class="formButton" type="submit" id="submit" name="submit" value="Verzend" tabindex="6">
						<input class="formButton" type="reset" name="reset" id="reset" value="Overnieuw beginnen" tabindex="7">
					</p>
					<p><em>Licht gekleurde velden (met een sterretje) zijn verplicht.</em></p>					
				</div>
			</form>	

		</div>
		
		<h2>Artikelen</h2>
		<table class="design" cellspacing="0" summary="Lijst met artikelen">
		<caption>Atlantisdesign artikelen</caption>
		
		<tbody><tr>
				<th colspan="2">Mac OS X</th>
		</tr>
		<tr class="even" valign="top">
				<td width="120">
					<!--<a href="article_show.php?article_id=29">Subversion svnsync repository replication</a>-->
					<!--<a href="article/29">Subversion svnsync repository replication</a>-->
					<a href="/artikel/subversion-svnsync-repository-replication">Subversion svnsync repository replication</a>
				</td>
				<td>Met svnsync kan een slave-repository gesynchroniseerd worden met een master-repository. Een handige manier om een Subversion repository incrementeel te backupen. Dit kan naar een (externe) backup schijf of een andere computer over het netwerk.</td>				
		</tr>
		
		
		<tr class="odd" valign="top">
				<td width="120">
					<!--<a href="article_show.php?article_id=27">Subversion svnserve automatisch opstarten</a>-->
					<!--<a href="article/27">Subversion svnserve automatisch opstarten</a>-->
					<a href="/artikel/subversion-svnserve-automatisch-opstarten">Subversion svnserve automatisch opstarten</a>
				</td>
				<td>Subversion heeft ook een eigen svnserve deamon zodat het svn:// protocol gebruikt kan worden. Met een launchd plist (XML) bestand wordt bij het opstarten van de Mac automatisch  de svnserve daemon gestart.</td>				
		</tr>
		
		
		<tr class="even" valign="top">
				<td width="120">
					<!--<a href="article_show.php?article_id=26">Synergy delen van muis en toetsenbord</a>-->
					<!--<a href="article/26">Synergy delen van muis en toetsenbord</a>-->
					<a href="/artikel/synergy-delen-van-muis-en-toetsenbord">Synergy delen van muis en toetsenbord</a>
				</td>
				<td>Stel je werkt op een Mac en daarnaast moet je ook wel eens op de Windows computer wat doen. Zou het dan niet handig zijn om slechts 1 muis en toetsenbord te (hoeven) gebruiken voor beide computers tegelijk? Zeer handig voor bijvoorbeeld meerdere laptops met externe toetsenborden en draadloze muizen. Daarbij wordt ook een simpel clipboard gedeeld tussen de computers.</td>				
		</tr>
		
		
		<tr class="odd" valign="top">
				<td width="120">
					<!--<a href="article_show.php?article_id=22">VNC server remote desktop op MacOSX</a>-->
					<!--<a href="article/22">VNC server remote desktop op MacOSX</a>-->
					<a href="/artikel/vnc-server-remote-desktop-op-macosx">VNC server remote desktop op MacOSX</a>
				</td>
				<td>Natuurlijk bestaat er Apple Remote Desktop. Windows computers kunnen ook gebruik maken van RDP (Remote Desktop Connection). Maar het is ook mogelijk om vanaf een Windows computer, met VNC, een Mac of Linux computer te besturen.</td>				
		</tr>
		
		
		<tr class="even" valign="top">
				<td width="120">
					<!--<a href="article_show.php?article_id=19">Subversion post commit update op test website</a>-->
					<!--<a href="article/19">Subversion post commit update op test website</a>-->
					<a href="/artikel/subversion-post-commit-update-op-test-website">Subversion post commit update op test website</a>
				</td>
				<td>Een auto update op een backup kopie maken vanuit Subversion? Zodra er een Subversion commit actie is gemaakt wordt een andere working copy automatisch ge-update naar de laatste revisie. Een soort auto update dus.</td>				
		</tr>
		
		
		<tr class="odd" valign="top">
				<td width="120">
					<!--<a href="article_show.php?article_id=18">Subversion versie beheer op Mac OS X</a>-->
					<!--<a href="article/18">Subversion versie beheer op Mac OS X</a>-->
					<a href="/artikel/subversion-versie-beheer-op-mac-os-x">Subversion versie beheer op Mac OS X</a>
				</td>
				<td>Open-source versie beheer. Ideaal voor gebruik in het bouwen van websites waar bestanden vaak wijzigen, scripts getest worden en misschien niet meer werken. Dan is het handig om versies van alle bestanden centraal en handig te bewaren.</td>				
		</tr>
		
		
		<tr class="even" valign="top">
				<td width="120">
					<!--<a href="article_show.php?article_id=9">Het maken van een ISO bestand</a>-->
					<!--<a href="article/9">Het maken van een ISO bestand</a>-->
					<a href="/artikel/het-maken-van-een-iso-bestand">Het maken van een ISO bestand</a>
				</td>
				<td>Op het Windows platform wordt meer gebruik gemaakt van een .iso als zijnde Master disc-image formaat. Via een Unix command en een simpele Automator workflow kunnen we dat ook op de Mac.</td>				
		</tr>
		
		
		<tr class="odd" valign="top">
				<td width="120">
					<!--<a href="article_show.php?article_id=7">Windows e-mail overzetten</a>-->
					<!--<a href="article/7">Windows e-mail overzetten</a>-->
					<a href="/artikel/windows-e-mail-overzetten">Windows e-mail overzetten</a>
				</td>
				<td>Oke, je hebt nu je eigen Mac. Zou het niet handig zijn om je oude e-mail van je Pc Outlook Express naar je Mac te kunnen krijgen?</td>				
		</tr>
		
		<tr>
				<th colspan="2">Webservers</th>
		</tr>
		<tr class="even" valign="top">
				<td width="120">
					<!--<a href="article_show.php?article_id=28">Entropy PHP5 met GDLib op Leopard</a>-->
					<!--<a href="article/28">Entropy PHP5 met GDLib op Leopard</a>-->
					<a href="/artikel/entropy-php5-met-gdlib-op-leopard">Entropy PHP5 met GDLib op Leopard</a>
				</td>
				<td>De PHP 5.x versie op Entropy.ch (Marc Liyanage) bevat onder andere de [b]GDLib library[/b] waarmee dynamisch plaatje gegeneerd kunnen worden. Deze GDLib library staat helaas niet standaard op de default installatie van PHP die Apple ons biedt.</td>				
		</tr>
		
		
		<tr class="odd" valign="top">
				<td width="120">
					<!--<a href="article_show.php?article_id=25">Apache deflate en expire headers</a>-->
					<!--<a href="article/25">Apache deflate en expire headers</a>-->
					<a href="/artikel/apache-deflate-en-expire-headers">Apache deflate en expire headers</a>
				</td>
				<td>Comprimeren van bepaalde bestandstypen voordat deze naar de eindgebruiker gestuurd worden. Daarbij kunnen we ook aangeven dat bepaalde bestanden voor langere tijd bewaard kunnen worden in de webbrowser cache.</td>				
		</tr>
		
		
		<tr class="even" valign="top">
				<td width="120">
					<!--<a href="article_show.php?article_id=24">Apache mod_vhost_alias virtual hosts</a>-->
					<!--<a href="article/24">Apache mod_vhost_alias virtual hosts</a>-->
					<a href="/artikel/apache-mod_vhost_alias-virtual-hosts">Apache mod_vhost_alias virtual hosts</a>
				</td>
				<td>Snel en makkelijk virtual-hosts gebruiken. Door simpelweg twee mappen aan te maken en een regel in het hosts file.</td>				
		</tr>
		
		
		<tr class="odd" valign="top">
				<td width="120">
					<!--<a href="article_show.php?article_id=23">Trac op MacOS X Leopard</a>-->
					<!--<a href="article/23">Trac op MacOS X Leopard</a>-->
					<a href="/artikel/trac-op-macos-x-leopard">Trac op MacOS X Leopard</a>
				</td>
				<td>Via een lokale website makkelijk Subversion repository en changesets bekijken. Geintegreerde Wiki, issue- bugtracking systeem. Precies kunnen aangeven, d.m.v. integratie met Subversion en een ticketsysteem, wat er in bepaalde bestanden veranderd is en welke gebruikers zaken moeten oplossen.</td>				
		</tr>
		
		
		<tr class="even" valign="top">
				<td width="120">
					<!--<a href="article_show.php?article_id=21">PureFTPd installeren op MacOSX Leopard</a>-->
					<!--<a href="article/21">PureFTPd installeren op MacOSX Leopard</a>-->
					<a href="/artikel/pureftpd-installeren-op-macosx-leopard">PureFTPd installeren op MacOSX Leopard</a>
				</td>
				<td>Een betere, makkelijkere te onderhouden FTP server op Mac OS X. Met gebruik van virtual-users.</td>				
		</tr>
		
		
		<tr class="odd" valign="top">
				<td width="120">
					<!--<a href="article_show.php?article_id=20">Subversion beschikbaar maken via Apache</a>-->
					<!--<a href="article/20">Subversion beschikbaar maken via Apache</a>-->
					<a href="/artikel/subversion-beschikbaar-maken-via-apache">Subversion beschikbaar maken via Apache</a>
				</td>
				<td>Op deze manier kun je via internet projecten downloaden, bewerken en de wijzigingen terug sturen naar Subversion. Dit maakt het mogelijk om met meerdere mensen aan een project te werken.</td>				
		</tr>
		
		
		<tr class="even" valign="top">
				<td width="120">
					<!--<a href="article_show.php?article_id=17">WebDAV op Mac OS X Leopard</a>-->
					<!--<a href="article/17">WebDAV op Mac OS X Leopard</a>-->
					<a href="/artikel/webdav-op-mac-os-x-leopard">WebDAV op Mac OS X Leopard</a>
				</td>
				<td>Met webDAV kun je op een soort iDisk manier bestanden delen via het internet. Via Mac en Windows kunnen bestanden van en naar de Mac geschreven worden alsof het een netwerk schijf is.</td>				
		</tr>
		
		
		<tr class="odd" valign="top">
				<td width="120">
					<!--<a href="article_show.php?article_id=16">Apache Server Side Includes SSI</a>-->
					<!--<a href="article/16">Apache Server Side Includes SSI</a>-->
					<a href="/artikel/apache-server-side-includes-ssi">Apache Server Side Includes SSI</a>
				</td>
				<td>Je maakt voor een website bijvoorbeeld de navigatie in een apart HTML bestand. Dit is een stukje HTML dat je graag in andere pagina's elke keer wilt laten terug komen op een bepaalde plek. Bovendien wil je niet moeilijk gaan doen met bijvoorbeeld PHP. Met Apache SSI (Server-Side Includes) kun je makkelijk en snel bijvoorbeeld stukken HTML in andere pagina's laten terug komen / embedden.</td>				
		</tr>
		
		
		<tr class="even" valign="top">
				<td width="120">
					<!--<a href="article_show.php?article_id=15">Apache Virtual hosts</a>-->
					<!--<a href="article/15">Apache Virtual hosts</a>-->
					<a href="/artikel/apache-virtual-hosts">Apache Virtual hosts</a>
				</td>
				<td>Als webdesigner / webdeveloper heb je vaak te maken met root relative paden naar externe bestanden die gebruikt worden op de website. Als je websites ontwikkeld in je eigen Sites directory kom je met dit nogal voor een probleem te staan. Hier is een mooie oplossing voor welke ik persoonlijk heel erg handig vind.</td>				
		</tr>
		
		
		<tr class="odd" valign="top">
				<td width="120">
					<!--<a href="article_show.php?article_id=14">Apache htaccess en mod_rewrite op MacOSX Leopard</a>-->
					<!--<a href="article/14">Apache htaccess en mod_rewrite op MacOSX Leopard</a>-->
					<a href="/artikel/apache-htaccess-en-mod_rewrite-op-macosx-leopard">Apache htaccess en mod_rewrite op MacOSX Leopard</a>
				</td>
				<td>MacOS X Leopard heeft de Apache 2.x webserver. Ook hier gaan we de mod_rewrite module gebruiken. Eigelijk moet er maar 1 configuratie regel aangepast te worden.</td>				
		</tr>
		
		
		<tr class="even" valign="top">
				<td width="120">
					<!--<a href="article_show.php?article_id=13">PHP5 op MacOSX Leopard</a>-->
					<!--<a href="article/13">PHP5 op MacOSX Leopard</a>-->
					<a href="/artikel/php5-op-macosx-leopard">PHP5 op MacOSX Leopard</a>
				</td>
				<td>Apple heeft in haar nieuwe vier voeter voor ons de PHP5 module al voor geinstalleerd. Deze gaan we met 1 terminal commando aanzetten.</td>				
		</tr>
		
		
		<tr class="odd" valign="top">
				<td width="120">
					<!--<a href="article_show.php?article_id=12">MySQL op MacOSX Leopard</a>-->
					<!--<a href="article/12">MySQL op MacOSX Leopard</a>-->
					<a href="/artikel/mysql-op-macosx-leopard">MySQL op MacOSX Leopard</a>
				</td>
				<td>Er is bij het schrijven van dit artikelen nog geen officiele versie uit van MySQL voor Mac OS X Leopard v10.5. Hier een omweg.</td>				
		</tr>
		
		
		<tr class="even" valign="top">
				<td width="120">
					<!--<a href="article_show.php?article_id=11">Apache htaccess en mod_rewrite op MacOSX Tiger</a>-->
					<!--<a href="article/11">Apache htaccess en mod_rewrite op MacOSX Tiger</a>-->
					<a href="/artikel/apache-htaccess-en-mod_rewrite-op-macosx-tiger">Apache htaccess en mod_rewrite op MacOSX Tiger</a>
				</td>
				<td>Met Apache mod_rewrite kunnen we URL's netjes herschrijven zodat men aan het webadres kan zien waar de pagina over gaat. Dit is tevens heel goed voor SEO (Search Engine Friendly) url's, de vindbaarheid en content voorspelbaarheid van de webpagina. Hoe doen we dat op Mac OS X?</td>				
		</tr>
		
		
		<tr class="odd" valign="top">
				<td width="120">
					<!--<a href="article_show.php?article_id=8">WebDAV op Mac OS X Tiger</a>-->
					<!--<a href="article/8">WebDAV op Mac OS X Tiger</a>-->
					<a href="/artikel/webdav-op-mac-os-x-tiger">WebDAV op Mac OS X Tiger</a>
				</td>
				<td>Apple's iDisk is een WebDAV server. Je kan je eigen Mac ook zo opzetten dat je deze ook op de WebDAV manier te benaderen is.</td>				
		</tr>
		
		
		<tr class="even" valign="top">
				<td width="120">
					<!--<a href="article_show.php?article_id=6">Apache Protect</a>-->
					<!--<a href="article/6">Apache Protect</a>-->
					<a href="/artikel/apache-protect">Apache Protect</a>
				</td>
				<td>Als je de Mac gebruikt voor websites kun je met dit programma'tje makkelijk mappen voorzien van een zelf gemaakte username en wachtwoord.</td>				
		</tr>
		
		
		<tr class="odd" valign="top">
				<td width="120">
					<!--<a href="article_show.php?article_id=4">Postfix mail server op MacOSX Tiger</a>-->
					<!--<a href="article/4">Postfix mail server op MacOSX Tiger</a>-->
					<a href="/artikel/postfix-mail-server-op-macosx-tiger">Postfix mail server op MacOSX Tiger</a>
				</td>
				<td>Activeer de ingebouwde mail server van Mac OS X. U kunt nu vanaf uw eigen Mac direct mail versturen.</td>				
		</tr>
		
		
		<tr class="even" valign="top">
				<td width="120">
					<!--<a href="article_show.php?article_id=1">PHP5 op MacOSX Tiger</a>-->
					<!--<a href="article/1">PHP5 op MacOSX Tiger</a>-->
					<a href="/artikel/php5-op-macosx-tiger">PHP5 op MacOSX Tiger</a>
				</td>
				<td>PHP is een Open-Source Server Side scripting taal welke zeer populair is en blijft groeien. Ondertussen is men bij versie 5. Op onze Mac staat versie 4.</td>				
		</tr>
		
		
		<tr class="odd" valign="top">
				<td width="120">
					<!--<a href="article_show.php?article_id=2">PureFTPd installeren op MacOSX Tiger</a>-->
					<!--<a href="article/2">PureFTPd installeren op MacOSX Tiger</a>-->
					<a href="/artikel/pureftpd-installeren-op-macosx-tiger">PureFTPd installeren op MacOSX Tiger</a>
				</td>
				<td>Het opzetten van een goede FTP server hoeft niet moeilijk te zijn. Apple heeft een FTP server in alle versies van Mac OS X ingebouwd.</td>				
		</tr>
		
		
		<tr class="even" valign="top">
				<td width="120">
					<!--<a href="article_show.php?article_id=3">MySQL op MacOSX Tiger</a>-->
					<!--<a href="article/3">MySQL op MacOSX Tiger</a>-->
					<a href="/artikel/mysql-op-macosx-tiger">MySQL op MacOSX Tiger</a>
				</td>
				<td>PHP kan goed samenwerken met de MySQL database. Het wordt veel toegepast op website met dynamische content. Het is gratis te gebruiken voor eigen gebruik en leer doeleinden.</td>				
		</tr>
		
</tbody></table>	
		</div>
</Layout>