---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Atlantisdesign » Fun">
    <div id="intro" class="grid_16">
		<blockquote>
			<p>Deze pagina bevat wat grappige dingen en onzinnige filmpjes. Natuurlijk blijft het leuk om als Mac fan alles 
			wat met Microsoft heeft te maken te <a href="http://en.wikipedia.org/wiki/Bashing" target="_blank" rel="link">bashen</a> ...</p>
		</blockquote>
	</div>

    <div class="clear">&nbsp;</div>

    <div id="side" class="grid_7">
		<h2>YouTube filmpjes</h2>
			<dl class="youTubes">
				<dt><a href="http://www.youtube.com/v/_I226Sfgs0s" id="startYouTube" class="youtube" title="Jeff Dunham - A Spark of Insanity part 1">Jeff Dunham - A Spark of Insanity, met Peanut en Walter</a></dt>
				<dd>
					De scene met <strong>Walter</strong> <a href="http://www.youtube.com/v/mLhyQv07Ehc" class="youtube" title="Jeff Dunham - Walter (part 1)">part 1</a> en <a href="http://www.youtube.com/v/67XTB9fytdA" class="youtube" title="Jeff Dunham - Walter (part 2)">part 2</a> is ook erg leuk gedaan.
					En uiteraard de <a href="http://www.youtube.com/v/1uwOL4rB-go" class="youtube" title="Jeff Dunham met Achmed the Dead terriost">Achmed the Dead terriost</a>.
				</dd>

				<dt><a href="http://www.youtube.com/v/t8Nf1MK7lts" class="youtube" title="Gunnery Sgt. Hartman (Full Metal Jacket, 1987)">Gunnery Sgt. Hartman (Full Metal Jacket)</a></dt>
				<dd>
					Dit is het meest geweldige stukje uit de film <a href="http://www.imdb.com/title/tt0093058/" target="_blank" rel="link">Full Metal Jacket</a> (1987)
					van <a href="http://www.imdb.com/name/nm0000040/" target="_blank" rel="link">Stanley Kubrick</a>.
					Gunnery drill Sgt. Hartman spreekt de nieuwe recruten toe. Meetsterlijke stukje acteerwerk en bere goede film.
					Het blijkt dat de acteur <a href="http://en.wikipedia.org/wiki/R._Lee_Ermey" target="_blank" rel="link">R. Lee Ermey</a> die de drill-instructor <strong>Sgt. Hartman</strong>  speelt, in het echte leven ook een drill-instructor was van de Amerikaanse Marine.
				</dd>						
				
				<dt><a href="http://www.youtube.com/v/3eZBevXohCI" class="youtube" title="The Darth Vader Blues (Star Wars)">The Darth Vader Blues</a></dt>
				<dd>
					Dit is wel erg grappig in elkaar gemonteerd. Beetje bespottelijk van een meesterlijke film, maar wel grappig gedaan.
					Als die-hard <strong>Star Wars</strong>  fan is het een beetje een beledeging dit te zien maar ik kan er wel om lachen.
				</dd>						
			
				<dt><a href="http://www.youtube.com/v/I7Gx7wKwqWQ" class="youtube" title="Flat Eric - Flat beat">Flat Eric - Flat beat (by Mr. Oizo)</a></dt>
				<dd>
					<a href="http://en.wikipedia.org/wiki/Flat_Eric" target="_blank" rel="link">Flat Eric</a> is cool. De 'gele-pluche-pop' is een wereld ster. 
					De MTV clip 'Flat Beat' is uit 1999! Flat Eric is al een tijdje oud (1999-2003) maar hij blijft cool. Bekijk ook 
					<a href="http://www.youtube.com/v/d72wgT6swCA" class="youtube" title="Rollin with Flat Eric">deze MTV movie clip</a>. 
					Dat muziekje dat erbij hoort blijft maar in me kop zitten. <a href="http://www.youtube.com/v/mSGJ-8Q9sXw" class="youtube" title="Flat Eric at the barbershop">Flat Eric bij de kapper!!</a>.
				</dd>				
			
				<dt><a href="http://www.youtube.com/v/bNgjd9mhM4o" class="youtube" title="The Umbilical Brothers">The Umbilical Brothers</a></dt>
				<dd>
					The duo human sound machines. Op YouTube is nog meer van <a href="http://www.youtube.com/results?search_query=umbilical+brothers&amp;search=Search" title="Meer meer meer!" target="_blank" rel="link">deze gasten</a> te vinden.
				</dd>				
			
				<dt><a href="http://youtube.com/v/fN_gG9yajFk" class="youtube" title="Dr. Evil - Hard Knock Life">Dr. Evil - Hard Knock Life</a></dt>
				<dd>
					<a href="http://en.wikipedia.org/wiki/Austin_Powers" target="_blank" rel="link">Austin Powers</a> aartsrivaal Dr. Evil zit in de gevangenis met z'n homies. Briljante persiflage in <a href="http://www.austinpowers.com/" target="_blank" rel="link">Austin Powers 3 - Goldmember </a>.
				</dd>
				
				<dt><a href="http://www.youtube.com/v/FncILxajmlw" class="youtube" title="Steve Ballmer's iPod experience">Microsoft's iPod killer!</a></dt>
				<dd>
					De karakteristieke commercial die Apple een <a href="http://en.wikipedia.org/wiki/IPod_advertising" title="Wikipedia" target="_blank" rel="link">tijd terug maakte</a> met de silhouette is ook gemaakt met bovenstaande Ballmer 'gekte'.
				</dd>					
			</dl>
	</div>

    <div id="main" class="grid_9 omega">
		<h1 class="headTitle flir-replaced"><img alt="Funny stuff &amp;amp; video's" class="flir-image" src="/flir/generate.php?text=Funny%20stuff%20%7Bamp%7Damp%3B%20video's&amp;h=23&amp;w=510&amp;fstyle=%7B%22mode%22%3A%22%22%2C%22output%22%3A%22auto%22%2C%22cSize%22%3A%2223%22%2C%22cColor%22%3A%22rgb%28214%2C%2079%2C%2032%29%22%2C%22cFont%22%3A%22steak%22%2C%22realFontHeight%22%3A%22false%22%2C%22dpi%22%3A%2296%22%2C%22cBackground%22%3A%22rgba%280%2C%200%2C%200%2C%200%29%22%2C%22cSpacing%22%3A%22%22%2C%22cLine%22%3A%221.0024%22%2C%22cAlign%22%3A%22left%22%2C%22cTransform%22%3A%22none%22%7D" style="border: none;"></h1>			
	
		<h2 id="youTubeTitle">Jeff Dunham - A Spark of Insanity part 1</h2>
		
		<div id="swfPlayer">
			<div id="youTubePlayer" class="youtubeVideo" style="visibility: visible;">
				Deze pagina maakt gebruik van de <strong>gratis</strong>  <a href="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash&amp;promoid=BIOW" target="_blank" rel="link">Adobe Flash player</a>.
			</div>
		</div>
		
		<h2 class="headTitle">Links</h2>			
		<ul>
			<li><a href="http://www.youtube.com/" title="YouTube website" target="_blank" rel="link">YouTube</a></li>
			<li><a href="http://www.metacafe.com/" title="Metacafe" target="_blank" rel="link">Metacafe</a></li>
			<li><a href="http://www.youtube.com/v/bNgjd9mhM4o" class="youtube" title="The Umbilical Brothers">The Umbilical Brothers</a></li>				
			<li><a href="http://www.youtube.com/v/XMrhoOHNOrI" class="youtube" title="Monkeyboy Steve Ballmer">Monkeyboy</a></li>
			<li><a href="http://www.youtube.com/v/NUN4xNFwFRo" class="youtube" title="Developers song">The Developers song</a></li>		
			<li><a href="http://www.youtube.com/v/FncILxajmlw" class="youtube" title="Steve Ballmer's iPod experience">iPod Ballmer commercial</a></li>
		</ul>				
		
		<h2>Microsoft bashing ... kinderachtig maar o zo leuk</h2>
		<p>
			Natuurlijk is dit alles complete onzin ... Microsoft bashen bestaat al heel lang. En eigenlijk is het kinderachtig. Maar o zo leuk!!
			Microsoft is geen slecht bedrijf en ze maken best goede producten. Ik vind bijvoorbeeld Microsoft Excel echt een mooi programma.
		</p>				
	</div>
</Layout>