---
import Layout from '@/layouts/Layout.astro';
import Intro from '@/components/Intro.astro';
import IphoneLinks from '@/components/iPhoneLinks.astro';
import IphoneAppLinks from '@/components/iPhoneAppLinks.astro';

const metaData = {
	title: "Apple iPhone 3G (White / 16GB)",
    description: "Mijn favoriete smartphone",
    canonical: "iphone"
}
---

<Layout metaData={metaData}>
	<link href="/themes/base/css/lightbox.css" rel="stylesheet" type="text/css" media="screen" slot="end-head" />

	<Intro>
		Op 11 juli 2008 introduceerde Apple de iPhone 3G in Nederland. Het was een drukte op die dag in Rotterdam.
		Op die dag waren alle iPhone's natuurlijk direct uitverkocht. Dan maar een iPhone bestellen op de T-Mobile website.
	</Intro>			

    <aside id="side" class="grid_5">
		<IphoneLinks />

		<IphoneAppLinks />
	</aside>

    <main id="main" class="grid_11 omega">
		<h1>{metaData.title}</h1>
		
		<p>
			Hieronder een foto impressie van mijn iPhone 3G. In plaats van de opgegeven 6 weken wachttijd was mijn iPhone gelukkig na 10 dagen 
			al afgeleverd.
		</p>
		
		<p>De iPhone was op 11 juli (launch day) binnen 3 uur uitverkocht. In heel Europa was de iPhone na 12 uur al uitverkocht.</p>
		
		<div class="photo">
			<a href="/atlantis_uploads/gallery_large/iPhone_3G_aanschaf_04.jpg" rel="lightbox[iphone]" title="Het pakketje van T-Mobile is gearriveerd">
				<img src="/atlantis_uploads/gallery_thumb/iPhone_3G_aanschaf_04.jpg" loading="lazy" alt="T-Mobile pakket">
			</a>
		</div>
		
		<div class="photo">
			<a href="/atlantis_uploads/gallery_large/iPhone_3G_aanschaf_41.jpg" rel="lightbox[iphone]" title="Het mooie kartonnen doosje van de Apple iPhone met embossed opdruk van de iPhone op de bovenkant">
				<img src="/atlantis_uploads/gallery_thumb/iPhone_3G_aanschaf_41.jpg" loading="lazy" alt="Doosje van de iPhone">
			</a>
		</div>

		<div class="photo">
			<a href="/atlantis_uploads/gallery_large/iPhone_3G_aanschaf_42.jpg" rel="lightbox[iphone]" title="Altijd erg mooie hoe Apple z'n producten presenteerd">
				<img src="/atlantis_uploads/gallery_thumb/iPhone_3G_aanschaf_42.jpg" loading="lazy" alt="iPhone 3G in doosje">
			</a>
		</div>
		
		<div class="photo">
			<a href="/atlantis_uploads/gallery_large/iPhone_3G_aanschaf_44.jpg" rel="lightbox[iphone]" title="Het is de witte 16GB uitvoering van de iPhone 3G">
				<img src="/atlantis_uploads/gallery_thumb/iPhone_3G_aanschaf_44.jpg" loading="lazy" alt="Witte achterkant van de iPhone">
			</a>
		</div>
		
		<div class="photo">
			<a href="/atlantis_uploads/gallery_large/iPhone_3G_aanschaf_57.jpg" rel="lightbox[iphone]" title="Elke Apple fan laat dit even zien. Heel mooi!">
				<img src="/atlantis_uploads/gallery_thumb/iPhone_3G_aanschaf_57.jpg" loading="lazy" alt="Designed by Apple in California">
			</a>
		</div>

		<div class="photo">
			<a href="/atlantis_uploads/gallery_large/iPhone_3G_aanschaf_68.jpg" rel="lightbox[iphone]" title="iPhone wordt gesynchroniseerd met de Mac. Alle muziek, foto's, adressen en kalenders">
				<img src="/atlantis_uploads/gallery_thumb/iPhone_3G_aanschaf_68.jpg" loading="lazy" alt="iPhone synchroniseren">
			</a>
		</div>
		
		<div class="photo">
			<a href="/atlantis_uploads/gallery_large/iPhone_3G_aanschaf_59.jpg" rel="lightbox[iphone]" title="T-Mobile Apple iPhone 3G">
				<img src="/atlantis_uploads/gallery_thumb/iPhone_3G_aanschaf_59.jpg" loading="lazy" alt="T-Mobile Apple iPhone 3G">
			</a>
		</div>
		
		<div class="photo">
			<a href="/atlantis_uploads/gallery_large/iPhone_3G_aanschaf_49.jpg" rel="lightbox[iphone]" title="Main iPhone scherm met wat extra ge-downloade programma's ">
				<img src="/atlantis_uploads/gallery_thumb/iPhone_3G_aanschaf_49.jpg" loading="lazy" alt="Hoofdscherm van de iPhone met wat extra programma's">
			</a>
		</div>		

		<div class="photo">
			<a href="/atlantis_uploads/gallery_large/iPhone_3G_aanschaf_46.jpg" rel="lightbox[iphone]" title="Coverflow (inclusief album-art) met alle iTunes muziek">
				<img src="/atlantis_uploads/gallery_thumb/iPhone_3G_aanschaf_46.jpg" loading="lazy" alt="Coverflow album-art">
			</a>
		</div>

		<div class="photo">
			<a href="/atlantis_uploads/gallery_large/iPhone_3G_aanschaf_47.jpg" rel="lightbox[iphone]" title="Mijn eigen website ziet er bijna perfect uit op de iPhone Safari webbrowser">
				<img src="/atlantis_uploads/gallery_thumb/iPhone_3G_aanschaf_47.jpg" loading="lazy" alt="Eigen website op iPhone Safari webbrowser">
			</a>
		</div>
		
		<div class="photo">
			<a href="/atlantis_uploads/gallery_large/iPhone_3G_aanschaf_54.jpg" rel="lightbox[iphone]" title="Een PDF lezen op de iPhone met behulp van FileMagnet">
				<img src="/atlantis_uploads/gallery_thumb/iPhone_3G_aanschaf_54.jpg" loading="lazy" alt="PDF lezen op iPhone met FileMagnet">
			</a>
		</div>

		<div class="photo">
			<a href="/atlantis_uploads/gallery_large/iPhone_3G_aanschaf_61.jpg" rel="lightbox[iphone]" title="De Mac besturen met Mocha VNC Lite client (remote desktop)">
				<img src="/atlantis_uploads/gallery_thumb/iPhone_3G_aanschaf_61.jpg" loading="lazy" alt="Mocha VNC Lite, remote desktop van iPhone naar Mac">
			</a>
		</div>

		<div class="photo">
			<a href="/atlantis_uploads/gallery_large/iPhone_3G_aanschaf_67.jpg" rel="lightbox[iphone]" title="Google Maps met positie bepaling">
				<img src="/atlantis_uploads/gallery_thumb/iPhone_3G_aanschaf_67.jpg" loading="lazy" alt="Google Maps op de iPhone">
			</a>
		</div>	
	</main>
</Layout>