---
import Layout from '../layouts/Layout.astro';
import Intro from '../components/Intro.astro';
---

<Layout title="Atlantisdesign » Mozilla Firefox">
	<Intro>
		Graag deel ik mijn ervaring op het gebied van Mac OS X.
		Ik vind het leuk om met  Unix te spelen op de Mac en daarmee mijn kennis verder uit te breiden.
		Veel informatie kunt u hier vinden over het opzetten van een Mac webserver.
	</Intro>

    <aside id="side" class="grid_5">
		<h2 class="headTitle">Firebug</h2>
		<p><a href="http://www.getfirebug.com/?link=2" title="Firebug is a free web development tool for Firefox"><img src="/img/firebug2-trans.png" width="109" height="67" border="0" alt="Firebug - Web Development Evolved"></a></p>
		<p>De tool voor webdesigners die met Css werken en bugs oplossen.</p>		
		
			<h2>Artikelen</h2>
			

<div class="article">
	<h3>Mac OS X</h3>
	<h4><a href="/artikel/subversion-svnsync-repository-replication">Subversion svnsync repository replication</a></h4>	
</div>

<div class="article">
	
	<h4><a href="/artikel/subversion-svnserve-automatisch-opstarten">Subversion svnserve automatisch opstarten</a></h4>	
</div>

<div class="article">
	
	<h4><a href="/artikel/synergy-delen-van-muis-en-toetsenbord">Synergy delen van muis en toetsenbord</a></h4>	
</div>

<div class="article">
	
	<h4><a href="/artikel/vnc-server-remote-desktop-op-macosx">VNC server remote desktop op MacOSX</a></h4>	
</div>

<div class="article">
	
	<h4><a href="/artikel/subversion-post-commit-update-op-test-website">Subversion post commit update op test website</a></h4>	
</div>

<div class="article">
	
	<h4><a href="/artikel/subversion-versie-beheer-op-mac-os-x">Subversion versie beheer op Mac OS X</a></h4>	
</div>

<div class="article">
	
	<h4><a href="/artikel/het-maken-van-een-iso-bestand">Het maken van een ISO bestand</a></h4>	
</div>

<div class="article">
	
	<h4><a href="/artikel/windows-e-mail-overzetten">Windows e-mail overzetten</a></h4>	
</div>

<div class="article">
	<h3>Webservers</h3>
	<h4><a href="/artikel/entropy-php5-met-gdlib-op-leopard">Entropy PHP5 met GDLib op Leopard</a></h4>	
</div>

<div class="article">
	
	<h4><a href="/artikel/apache-deflate-en-expire-headers">Apache deflate en expire headers</a></h4>	
</div>

<div class="article">
	
	<h4><a href="/artikel/apache-mod_vhost_alias-virtual-hosts">Apache mod_vhost_alias virtual hosts</a></h4>	
</div>

<div class="article">
	
	<h4><a href="/artikel/trac-op-macos-x-leopard">Trac op MacOS X Leopard</a></h4>	
</div>

<div class="article">
	
	<h4><a href="/artikel/pureftpd-installeren-op-macosx-leopard">PureFTPd installeren op MacOSX Leopard</a></h4>	
</div>

<div class="article">
	
	<h4><a href="/artikel/subversion-beschikbaar-maken-via-apache">Subversion beschikbaar maken via Apache</a></h4>	
</div>

<div class="article">
	
	<h4><a href="/artikel/webdav-op-mac-os-x-leopard">WebDAV op Mac OS X Leopard</a></h4>	
</div>

<div class="article">
	
	<h4><a href="/artikel/apache-server-side-includes-ssi">Apache Server Side Includes SSI</a></h4>	
</div>

<div class="article">
	
	<h4><a href="/artikel/apache-virtual-hosts">Apache Virtual hosts</a></h4>	
</div>

<div class="article">
	
	<h4><a href="/artikel/apache-htaccess-en-mod_rewrite-op-macosx-leopard">Apache htaccess en mod_rewrite op MacOSX Leopard</a></h4>	
</div>

<div class="article">
	
	<h4><a href="/artikel/php5-op-macosx-leopard">PHP5 op MacOSX Leopard</a></h4>	
</div>

<div class="article">
	
	<h4><a href="/artikel/mysql-op-macosx-leopard">MySQL op MacOSX Leopard</a></h4>	
</div>

<div class="article">
	
	<h4><a href="/artikel/apache-htaccess-en-mod_rewrite-op-macosx-tiger">Apache htaccess en mod_rewrite op MacOSX Tiger</a></h4>	
</div>

<div class="article">
	
	<h4><a href="/artikel/webdav-op-mac-os-x-tiger">WebDAV op Mac OS X Tiger</a></h4>	
</div>

<div class="article">
	
	<h4><a href="/artikel/apache-protect">Apache Protect</a></h4>	
</div>

<div class="article">
	
	<h4><a href="/artikel/postfix-mail-server-op-macosx-tiger">Postfix mail server op MacOSX Tiger</a></h4>	
</div>

<div class="article">
	
	<h4><a href="/artikel/php5-op-macosx-tiger">PHP5 op MacOSX Tiger</a></h4>	
</div>

<div class="article">
	
	<h4><a href="/artikel/pureftpd-installeren-op-macosx-tiger">PureFTPd installeren op MacOSX Tiger</a></h4>	
</div>

<div class="article">
	
	<h4><a href="/artikel/mysql-op-macosx-tiger">MySQL op MacOSX Tiger</a></h4>	
</div>


	
	</aside>

    <main id="main" class="grid_11 omega">
				<h1>Mozilla Firefox</h1>		
				<p>
					De Firefox browsers is naar mijn smaak de beste webbrowser. En het is nog <strong>gratis</strong> ook! Er zijn veel extentions voor beschikbaar die het maken van websites, voor webdesingers, erg handig maakt.
					Bovendien volgt deze browser wel de <a href="http://www.w3.org/TR/xhtml1/" title="World Wide Web Consortium XHTML specificaties" target="_blank" rel="link">W3C (X)HTML standaarden</a> en de Css ondersteuning werkt zoals het is bedoeld. Dat kunnen we niet zeggen van Microsoft Internet Explorer.
				</p>
				
				<h2>Download Mozilla Firefox vandaag nog!</h2>
				<p>
					De <a href="http://www.mozilla.com/firefox/" title="Download Firefox" target="_blank" rel="link">Firefox webbrowers</a> is ook in het <a href="http://www.mozilla-europe.org/nl/products/firefox/" title="Nederlands talige Firefox" target="_blank" rel="link">Nederlands verkrijgbaar</a>.
				</p>
				
				<p>
					<a href="http://www.spreadfirefox.com/?q=affiliates&amp;id=0&amp;t=213"><img alt="Firefox 2" title="Firefox 2" src="/img/mozilla_get_firefox.png"></a>
				</p>
				
				<h2>Mozilla Thunderbird, mail programma</h2>
				<p>
					Het alternatief op het Microsoft Outlook (Express) mail programma. Tevens ook <strong>gratis</strong>! Veel minder vatbaar voor virussen en ander gespuis. Doordat deze niet standaard emails met schadelijke programma's zomaar laat opstarten bijvoorbeeld.
					
				</p>
				<p>
					<a href="http://www.spreadfirefox.com/?q=affiliates&amp;t=176" target="_blank" rel=""><img alt="Get Thunderbird!" title="Get Thunderbird!" src="/img/mozilla_thunderbird_logo.png"></a>				
				</p>
				
				<h2 id="firefox-addons">Handige extentions voor webdesigners </h2>
				<p>Firefox (en Netscape 9) kun je uitbereiden met vele <a href="https://addons.mozilla.org/" target="_blank" rel="link">add-ons</a>. Hieronder een lijst met mijn persoonlijke favorieten.</p>
				<ul>
						<li><a href="http://chrispederick.com/work/webdeveloper/" target="_blank" rel="link">WebDeveloper toolbar</a></li>
						<li><a href="http://www.joehewitt.com/software/firebug/" target="_blank" rel="link"> FireBug</a></li>
						<li><a href="http://www.puidokas.com/portfolio/gridfox/" target="_blank" rel="link"> GridFox</a></li>	
						<li><a href="http://users.skynet.be/mgueury/mozilla/download.html" target="_blank" rel="link">HTML Validator</a></li>
						<li><a href="http://www.iosart.com/firefox/colorzilla/" target="_blank" rel="link">ColorZilla</a></li>
						<li><a href="https://addons.mozilla.org/en-US/firefox/addon/2076" target="_blank" rel="link">JS View</a></li>
						<li><a href="https://addons.mozilla.org/firefox/260/" target="_blank" rel="link">TabClicking Options</a></li>
						<li><a href="http://www.microsoft.com/downloads/details.aspx?FamilyID=e59c3964-672d-4511-bb3e-2d5e1db91038&amp;displaylang=en" target="_blank" rel="link">Internet Explorer WebDev toolbar</a></li>
						<li><a href="http://ieview.mozdev.org/installation.html" target="_blank" rel="link">IEView</a></li>
						<li><a href="http://operaview.mozdev.org/install.html" target="_blank" rel="link">Opera view</a></li>
						<li><a href="http://css.weblogsinc.com/2006/02/14/firefox-extensions-i-couldnt-live-without/" target="_blank" rel="link">Verzamel pagina</a></li>				
				</ul>
				
				<h2>CSS Refresh truuk</h2>
				
				<p>Deze truuk zorgt ervoor dat je alleen de CSS in een Mozilla webbrower (Firefox en Netscape) herlaad. Hierdoor wordt niet de gehele pagina herladen.</p>
				
				<p>1) Maak een bookmark aan op de Personal toolbar favorites.</p>
				
				<p>2) Geef het een naam als: CSS Refresch</p>				
				
				<p>3) Plak onderstaand Javascript in de 'location'.</p>
				
				<p>
					<!--code>
						javascript:void(function(){var i,a,s;a=document.getElementsByTagName('link');for(i=0;i&lt;a.length;i++){s=a[i];if(s.rel.toLowerCase().indexOf('stylesheet')&gt;=0&amp;&amp;s.href) {var h=s.href.replace(/(&amp;|%5C?)forceReload=d+/,'');s.href=h+(h.indexOf('?')&gt;=0?'&amp;':'?')+'forceReload='+(new Date().valueOf())}}})();				
					</code -->
				</p>
				
				<p>
					Deze handige truuk heb ik niet zelf uitgevonden maar is terug te vinden op onderstaande website. Het ontwikkelen van websites 
					wordt soms heel complex en je hoeft ook niet altijd de complete pagina te herladen ... alleen de CSS als je met webdesign bezig bent. 
					Deze truuk biedt zeker uitkomst.
				</p>
				
				<p><em>Bron: <a href="http://www.ovelha.org/pasteler0/2007/02/25/css-refresh/" target="_blank" rel="link">HowTo: CSS Refresh for Mozilla Firefox</a></em></p>
	</main>
</Layout>