---
import Layout from '@/layouts/Layout.astro';
import Intro from '@/components/Intro.astro';
import WiiLinks from '@/components/WiiLinks.astro';
import WiiGamesList from '@/components/WiiGamesList.astro';

const metaData = {
	title: "Nintendo Wii",
    description: "It's all about the Nintendo Wii",
    canonical: "nintendo-wii"
}
---

<Layout metaData={metaData}>
    <Intro>
		Heel lang heb ik geen console meer gehad. Maar tijd terug een Nintendo Wii gekocht. Geweldig ding!! Nog nooit zo'n veel plezier aan gamen gehad.
		Ook verschillende type games. De controllers en Wii ervaring is echt leuk!!
	</Intro>

    <aside id="side" class="grid_5">
		<WiiLinks />

		<WiiGamesList />
	</aside>

    <main id="main" class="grid_11 omega">
		<h1>{metaData.title}</h1>
	
		<p><img src="/img/nintendo_wii.jpg" loading="lazy" alt="Nintendo Wii"></p>		
		
		<h2 id="youTubeTitle">Super Mario Bros. Super Show. Rond 1989 - 1991.</h2>		
		
		<div id="youTubePlayer" class="mb-4"></div>
		
		<h2>Game trailers</h2>
		
		<dl class="youTubes">	
			<dt><a href="https://www.youtube.com/watch?v=RTkuCXRZnyM" id="startYouTube" data-youtube-link class="youtube" title="Super Mario Bros. Super Show. Rond 1989 - 1991.">Super Mario Bros. Super Show</a>. Rond 1989 - 1991, old school cartoons!!</dt>					
			
			<dd>
				Aanstaande vrijdag is de nieuwste versie van Nintendo's parade paardje: <a href="https://www.youtube.com/watch?v=3o4Bp8n73ew" class="youtube" title="Super Mario Galaxy">Super Mario Galaxy</a> eindelijk in de winkels te krijgen.
				Niet veel mensen kennen de oude <a href="https://www.youtube.com/watch?v=HKjWVUPKMLw" class="youtube" title="Super Mario Bros. Super Show. Rond  1989 - 1991.">Super Mario Bros. Super Show</a> van vroeger, tussen <a href="http://en.wikipedia.org/wiki/Super_Mario_Super_Show" target="_blank" rel="link">1989 en 1991</a>.
				Het was een heuze show met echte acteurs, humor en afgewisseld met cartoons over Mario en Luigi.
				De intro van deze show was ook zo geweldig. Net als de herkenbare tunes van de <a href="https://www.youtube.com/watch?v=65uNCLBTje0" class="youtube" title="Aftiteling Super Mario Bros. Super Show. Rond 1989 - 1991.">aftiteling</a>.
				<strong>Andrew Gardikis</strong>  heeft Super Mario Bros. 1 (uitgebracht in 1987) <a href="https://www.youtube.com/watch?v=Ie4E3Bmqb5w" class="youtube" title="Super Mario Bros. 1 uitgespeeld in 5 minuten!">uitgespeelt</a> in 5 minuten?
			</dd>
	
			<dt><a href="https://www.youtube.com/watch?v=IDlmqLgiuFI" data-youtube-link class="youtube" title="Star Wars The Force Unleashed">Star Wars The Force Unleashed</a></dt>
			
			<dd>
				Dit zou heeeel erg vet zijn! De natte droom van elke Star Wars fan!!
				Bekijk de grotere <a href="http://www.lucasarts.com/games/theforceunleashed/" target="_blank" rel="link">game trailer</a> op de officiële website.
				Het schijnt daadwerkelijk waar te zijn dat het deze game naar de <strong>Nintendo Wii</strong> komt.
				Lees er meer over op de <a href="http://wii.ign.com/articles/820/820763p1.html" target="_blank" rel="link">IGN website</a> en ook <a href="http://kotaku.com/gaming/wiimote-lightsaber/lucasarts-unleashes-the-force-on-the-wii-301065.php" target="_blank" rel="link">hier</a>.
				Ik ga zeker in de rij liggen voor deze game!! Amerikaase release date: 8 april 2008.
			</dd>	
		
			<dt><a href="https://www.youtube.com/watch?v=VuzFzs0hPKc" data-youtube-link class="youtube" title="Nieuwe Star Wars besturing op de Wii?">YouTube: I want Star Wars to be like this...</a></dt>
			
			<dd>Stel dat de Star Wars game zo gaat werken met de Wii-mote!!!</dd>
	
			<dt><a href="https://www.youtube.com/watch?v=3o4Bp8n73ew" data-youtube-link class="youtube" title="Super Mario Galaxy">Super Mario Galaxy</a></dt>
			
			<dd>Paradepaardje van Nintendo!! Nu verkrijgbaar in de winkels.</dd>					
			
			<dt><a href="https://www.youtube.com/watch?v=nxrxwuU8_iM" data-youtube-link class="youtube" title="Resident Evil 4">Resident Evil 4</a></dt>
			
			<dd>Deze is echt eng af en toe! Bekijk ook de <a href="http://www.gamefaqs.com/console/gamecube/file/535840/34675" title="Resident Evil 4 walktrough" target="_blank" rel="link">walktrough</a> als je af en toe niet weet hoe je eindbazen moet verslaan.</dd>
			
			<dt><a href="https://www.youtube.com/watch?v=z31DntVPPws" data-youtube-link class="youtube" title="The Legend of Zelda » Twilight Princes">The Legend of Zelda » Twilight Princes</a></dt>
			
			<dd>Leuk avonturen spel. Bekijk ook de <a href="http://guides.ign.com/guides/748589/page_3.html" title="Legend of Zelda Twilight Princes walktrough" target="_blank" rel="link">walktrough</a> als je af en toe niet uit komt.</dd>
			
			<dt><a href="https://www.youtube.com/watch?v=lQLIwauAVNU" data-youtube-link class="youtube" title="Metroid Prime 3 » Corruption">Metroid Prime 3 » Corruption</a></dt>
			
			<dd>Nu in de winkel verkrijgbaar! Erg vette game!!</dd>
			
			<dt><a href="https://www.youtube.com/watch?v=oxr1oiTmxd8" data-youtube-link class="youtube" title="Dragon Ball Z : Budokai Tenkaichi 3">Dragon Ball Z » Budokai Tenkaichi 3</a></dt>
			
			<dd>
				Erg vette game!! Ik heb de anime tekenfilm serie jaren terug gevolgd. Maar die hielden er in Nederland ineens mee op. Versie 3 van de game is voor de Wii speciaal bijgewerkt voor de unieke controllers.
				Release date is ergens in januari 2008. Dus nog even wachten totdat deze in de winkel ligt.
			</dd>	
		</dl>
	
		<h3>Star Wars » The Force Unleashed</h3>
						
		<p><img src="/img/starwars_force_unleashed.jpg" loading="lazy" alt="Star Wars: The Force Unleashed"></p>										
	</main>

	<script src="/themes/base/js/hijack-youtube-links.js" defer slot="end-head"></script>
</Layout>