---
import Layout from '@/layouts/Layout.astro';
import MadeOnAMac from '@/components/MadeOnAMac.astro';
import WebLinks from '@/components/WebLinks.astro';
import Intro from '@/components/Intro.astro';
import ArticlesList from '@/components/ArticlesList.astro';
import Education from '@/components/Education.astro';

const metaData = {
	title: "Portfolio & fotografie",
    description: "Over mijn Photoshop en fotografie skills",
    canonical: "portfolio"
}
---

<Layout metaData={metaData}>
	<script src="/themes/vendor/fancybox.umd.js" slot="end-body"></script>
	<link rel="stylesheet" href="/themes/vendor/fancybox.css" slot="end-body">
	<script slot="end-body">Fancybox.bind("[data-fancybox]", {});</script>

    <Intro id="intro" class="grid_16">
        Hieronder een greep uit mijn persoonlijke portfolio.
    </Intro>

    <aside id="side" class="grid_5">
		<Education />
		
		<MadeOnAMac />	
		
		<h2>Artikelen</h2>

		<ArticlesList />
		
		<h2>Links</h2>

		<WebLinks />
	</aside>

    <main id="main" class="grid_11 omega">
		<h1>{metaData.title}</h1>

		<p>
			Ik vind het leuk om collages te maken waardoor een hele nieuwe wereld gecreëerd wordt
			waarin de schaal niet klopt en vooral om verschillende seizoenen bij elkaar te brengen.
			Het is op datum gesorteerd dus het oudste werk staat onderaan.
		</p>

		<h2>Update</h2>

		<p>
			Hier komt binnenkort een overzicht van mijn webdesign werk te staan. Onderstaand is eigenlijk materiaal wat ik vroeger op school gemaakt had.
		</p>		


		<h2>Photoshop collages, fotografie en zomaar wat foto's</h2>

		<p>
			Hieronder staan een paar portfolio plaatjes die ik destijds op school gemaakt heb.
			Tevens staat hier wat fotografie werk en natuurlijk foto's van Apple producten waar we trots op zijn.
		</p>
		
		<table class="design" cellspacing="0" summary="Photo gallery">
			<caption>Photo gallery</caption>	
			<tbody>
				<tr>
					<th colspan="3">Apple stuff</th>
				</tr>
				
				<tr class="even">
					<td><a href="/atlantis_uploads/gallery_large/mighty_mouse_016.jpg" data-fancybox="gallery" data-caption="Het is mooi vormgegeven. Net als de voorgaande versie ... maar dat met veel meer extra's."><img class="gallery_thumb" loading="lazy" width="150" src="/atlantis_uploads/gallery_thumb/mighty_mouse_016.jpg" alt="Mighty Mouse in gebruik"></a></td>
					<td>Mighty Mouse in gebruik</td>
					<td>Dinsdag 11 maart 2008</td>
				</tr>
				
					
				<tr class="odd">
					<td><a href="/atlantis_uploads/gallery_large/mighty_mouse_012.jpg" data-fancybox="gallery" data-caption="Nu staat het doosje open. Mooi ding!!"><img class="gallery_thumb" loading="lazy" width="150" src="/atlantis_uploads/gallery_thumb/mighty_mouse_012.jpg" alt="Mighty Mouse in de doos"></a></td>
					<td>Mighty Mouse in de doos</td>
					<td>Donderdag 18 augustus 2005</td>
				</tr>
				
					
				<tr class="even">
					<td><a href="/atlantis_uploads/gallery_large/mighty_mouse_011.jpg" data-fancybox="gallery" data-caption="Aanschaf Mighty Mouse, eerst even foto's maken van de verpakking."><img class="gallery_thumb" loading="lazy" width="150" src="/atlantis_uploads/gallery_thumb/mighty_mouse_011.jpg" alt="Mighty Mouse packed"></a></td>
					<td>Mighty Mouse packed</td>
					<td>Donderdag 18 augustus 2005</td>
				</tr>
				
					
				<tr class="odd">
					<td><a href="/atlantis_uploads/gallery_large/pa_ibook_aanschaf_5.jpg" data-fancybox="gallery" data-caption="Hij doet 'et!! Een zorgeloze tijd kan beginnen ... eindelijk geen virussen meer."><img class="gallery_thumb" loading="lazy" width="150" src="/atlantis_uploads/gallery_thumb/pa_ibook_aanschaf_5.jpg" alt="iBook Mac OS X Tiger installatie"></a></td>
					<td>iBook Mac OS X Tiger installatie</td>
					<td>Zondag 26 juni 2005</td>
				</tr>
				
					
				<tr class="even">
					<td><a href="/atlantis_uploads/gallery_large/pa_ibook_aanschaf_12.jpg" data-fancybox="gallery" data-caption="Ja hoe moet ie nou aan?"><img class="gallery_thumb" loading="lazy" width="150" src="/atlantis_uploads/gallery_thumb/pa_ibook_aanschaf_12.jpg" alt="iBook kennismaking"></a></td>
					<td>iBook kennismaking</td>
					<td>Zondag 26 juni 2005</td>
				</tr>
				
					
				<tr class="odd">
					<td><a href="/atlantis_uploads/gallery_large/pa_ibook_aanschaf_13.jpg" data-fancybox="gallery" data-caption="Wat een schoonheid die laptop."><img class="gallery_thumb" loading="lazy" width="150" src="/atlantis_uploads/gallery_thumb/pa_ibook_aanschaf_13.jpg" alt="iBook eerste aanschouwing"></a></td>
					<td>iBook eerste aanschouwing</td>
					<td>Zondag 26 juni 2005</td>
				</tr>
				
					
				<tr class="even">
					<td><a href="/atlantis_uploads/gallery_large/pa_ibook_aanschaf_2.jpg" data-fancybox="gallery" data-caption="Je moet toch wat op de foto zetten."><img class="gallery_thumb" loading="lazy" width="150" src="/atlantis_uploads/gallery_thumb/pa_ibook_aanschaf_2.jpg" alt="iBook doos inhoud"></a></td>
					<td>iBook doos inhoud</td>
					<td>Zondag 26 juni 2005</td>
				</tr>
				
					
				<tr class="odd">
					<td><a href="/atlantis_uploads/gallery_large/pa_ibook_aanschaf_11.jpg" data-fancybox="gallery" data-caption="Even voor de duidelijkheid ..."><img class="gallery_thumb" loading="lazy" width="150" src="/atlantis_uploads/gallery_thumb/pa_ibook_aanschaf_11.jpg" alt="iBook documentatie"></a></td>
					<td>iBook documentatie</td>
					<td>Zondag 26 juni 2005</td>
				</tr>
				
					
				<tr class="even">
					<td><a href="/atlantis_uploads/gallery_large/pa_ibook_aanschaf_3.jpg" data-fancybox="gallery" data-caption="Het apparaat wordt uit de verpakking gehaald. Wat een spanning!"><img class="gallery_thumb" loading="lazy" width="150" src="/atlantis_uploads/gallery_thumb/pa_ibook_aanschaf_3.jpg" alt="iBook aanschaf"></a></td>
					<td>iBook aanschaf</td>
					<td>Zondag 26 juni 2005</td>
				</tr>
				
				
				<tr>
					<th colspan="3">Art</th>
				</tr>
					
				<tr class="odd">
					<td><a href="/atlantis_uploads/gallery_large/introductie_detail.jpg" data-fancybox="gallery" data-caption="Deze illustratie heb ik gebruikt in een van mijn verslagen, destijds voor school gemaakt."><img class="gallery_thumb" loading="lazy" width="150" src="/atlantis_uploads/gallery_thumb/introductie_detail.jpg" alt="Introductie"></a></td>
					<td>Introductie</td>
					<td>Zaterdag 06 oktober 2007</td>
				</tr>
				
					
				<tr class="even">
					<td><a href="/atlantis_uploads/gallery_large/contrary.jpg" data-fancybox="gallery" data-caption="Verschillen in seizoenen en verkeerde timing."><img class="gallery_thumb" loading="lazy" width="150" src="/atlantis_uploads/gallery_thumb/contrary.jpg" alt="Contraries"></a></td>
					<td>Contraries</td>
					<td>Zondag 01 januari 2006</td>
				</tr>
				
					
				<tr class="odd">
					<td><a href="/atlantis_uploads/gallery_large/cloud_walkers.jpg" data-fancybox="gallery" data-caption="Sommige creativiteit komt van boven. Maar je hoeft er niet om te vragen"><img class="gallery_thumb" loading="lazy" width="150" src="/atlantis_uploads/gallery_thumb/cloud_walkers.jpg" alt="Cloud Walkers"></a></td>
					<td>Cloud Walkers</td>
					<td>Dinsdag 18 januari 2005</td>
				</tr>
				
					
				<tr class="even">
					<td><a href="/atlantis_uploads/gallery_large/train_station.jpg" data-fancybox="gallery" data-caption="Deze foto representeerd het verschil tussen de dagelijkse chaos en totale ontspanning. Liefst wil men werken in een totaal ontspannen omgeving."><img class="gallery_thumb" loading="lazy" width="150" src="/atlantis_uploads/gallery_thumb/train_station.jpg" alt="Train Station"></a></td>
					<td>Train Station</td>
					<td>Woensdag 15 december 2004</td>
				</tr>
				
					
				<tr class="odd">
					<td><a href="/atlantis_uploads/gallery_large/design_log_detail.jpg" data-fancybox="gallery" data-caption="Deze foto was bedoelt als cover voor mijn portfolio. Naderhand toch maar niet gedaan."><img class="gallery_thumb" loading="lazy" width="150" src="/atlantis_uploads/gallery_thumb/design_log_detail.jpg" alt="Design Log"></a></td>
					<td>Design Log</td>
					<td>Donderdag 05 augustus 2004</td>
				</tr>
				
					
				<tr class="even">
					<td><a href="/atlantis_uploads/gallery_large/the_gods_detail.jpg" data-fancybox="gallery" data-caption="Wat gebeurt er met de tijd? Hoelang hebben we nog? Stopt het leven daadwerkelijk na de dood? Of toch niet... Als de tijd daar is, moet je je verantwoorden voor je daden, goed en slecht..."><img class="gallery_thumb" loading="lazy" width="150" src="/atlantis_uploads/gallery_thumb/the_gods_detail.jpg" alt="The Gods"></a></td>
					<td>The Gods</td>
					<td>Donderdag 05 augustus 2004</td>
				</tr>
				
					
				<tr class="odd">
					<td><a href="/atlantis_uploads/gallery_large/bloem.jpg" data-fancybox="gallery" data-caption="Deze bloem is nagetekend uit een boekje. Gebruik gemaakt van een Wacom teken tablet."><img class="gallery_thumb" loading="lazy" width="150" src="/atlantis_uploads/gallery_thumb/bloem.jpg" alt="Bloem"></a></td>
					<td>Bloem</td>
					<td>Donderdag 05 augustus 2004</td>
				</tr>
				
					
				<tr class="even">
					<td><a href="/atlantis_uploads/gallery_large/terminator_detail.jpg" data-fancybox="gallery" data-caption="Verander een foto van een bekend persoon/idool"><img class="gallery_thumb" loading="lazy" width="150" src="/atlantis_uploads/gallery_thumb/terminator_detail.jpg" alt="Terminator 2"></a></td>
					<td>Terminator 2</td>
					<td>Zaterdag 10 juni 2000</td>
				</tr>
				
					
				<tr class="odd">
					<td><a href="/atlantis_uploads/gallery_large/body_builder_detail.jpg" data-fancybox="gallery" data-caption="Verander het gezicht van een bekend persoon"><img class="gallery_thumb" loading="lazy" width="150" src="/atlantis_uploads/gallery_thumb/body_builder_detail.jpg" alt="Bob de Bouwer"></a></td>
					<td>Bob de Bouwer</td>
					<td>Zaterdag 10 juni 2000</td>
				</tr>
				
					
				<tr class="even">
					<td><a href="/atlantis_uploads/gallery_large/menu_collage_detail.jpg" data-fancybox="gallery" data-caption="In mijn stage periode heb ik een tweetal verslagen gemaakt voor school. Ik heb dit verslag digitaal gemaakt. Deze collage was een splash-sreen van een pagina in mijn tweede verslag."><img class="gallery_thumb" loading="lazy" width="150" src="/atlantis_uploads/gallery_thumb/menu_collage_detail.jpg" alt="Collage"></a></td>
					<td>Collage</td>
					<td>Dinsdag 15 februari 2000</td>
				</tr>
				
					
				<tr class="odd">
					<td><a href="/atlantis_uploads/gallery_large/highway_detail.jpg" data-fancybox="gallery" data-caption="De stroomversnelling van informatie houdt niet op!!"><img class="gallery_thumb" loading="lazy" width="150" src="/atlantis_uploads/gallery_thumb/highway_detail.jpg" alt="Information highway"></a></td>
					<td>Information highway</td>
					<td>Dinsdag 15 februari 2000</td>
				</tr>
				
					
				<tr class="even">
					<td><a href="/atlantis_uploads/gallery_large/lokatie_detail.jpg" data-fancybox="gallery" data-caption="Maak een collage waarin de schaal niet klopt"><img class="gallery_thumb" loading="lazy" width="150" src="/atlantis_uploads/gallery_thumb/lokatie_detail.jpg" alt="Locatie"></a></td>
					<td>Locatie</td>
					<td>Dinsdag 15 februari 2000</td>
				</tr>
				
					
				<tr class="odd">
					<td><a href="/atlantis_uploads/gallery_large/cd_hoes.jpg" data-fancybox="gallery" data-caption="Voorkant/inlay van een stage werkstuk cd-rom"><img class="gallery_thumb" loading="lazy" width="150" src="/atlantis_uploads/gallery_thumb/cd_hoes.jpg" alt="Cover cd-rom"></a></td>
					<td>Cover cd-rom</td>
					<td>Dinsdag 15 februari 2000</td>
				</tr>
				
					
				<tr class="even">
					<td><a href="/atlantis_uploads/gallery_large/the_matrix_detail.jpg" data-fancybox="gallery" data-caption="Mooi poster van The Matrix"><img class="gallery_thumb" loading="lazy" width="150" src="/atlantis_uploads/gallery_thumb/the_matrix_detail.jpg" alt="The Matrix"></a></td>
					<td>The Matrix</td>
					<td>Dinsdag 15 februari 2000</td>
				</tr>
				
					
				<tr class="odd">
					<td><a href="/atlantis_uploads/gallery_large/carpa_title.jpg" data-fancybox="gallery" data-caption="Eerste ontwerp voor een eigen logo. Voorheen was het woord 'Parca' het logo. Maar later ontdekte ik dat het ook een soort jas is."><img class="gallery_thumb" loading="lazy" width="150" src="/atlantis_uploads/gallery_thumb/carpa_title.jpg" alt="Carpa"></a></td>
					<td>Carpa</td>
					<td>Dinsdag 15 februari 2000</td>
				</tr>
				
					
				<tr class="even">
					<td><a href="/atlantis_uploads/gallery_large/silicon_detail.jpg" data-fancybox="gallery" data-caption="Nog zo'n mooi logo"><img class="gallery_thumb" loading="lazy" width="150" src="/atlantis_uploads/gallery_thumb/silicon_detail.jpg" alt="Silicon"></a></td>
					<td>Silicon</td>
					<td>Dinsdag 15 februari 2000</td>
				</tr>
				
					
				<tr class="odd">
					<td><a href="/atlantis_uploads/gallery_large/cd_rom_detail.jpg" data-fancybox="gallery" data-caption="Schets voor een splash-screen voor een cd-rom productie"><img class="gallery_thumb" loading="lazy" width="150" src="/atlantis_uploads/gallery_thumb/cd_rom_detail.jpg" alt="Interface"></a></td>
					<td>Interface</td>
					<td>Dinsdag 15 februari 2000</td>
				</tr>
				
					
				<tr class="even">
					<td><a href="/atlantis_uploads/gallery_large/chicken_detail.jpg" data-fancybox="gallery" data-caption="Een heel pissig kuiken onder de Golden Gate Bridge"><img class="gallery_thumb" loading="lazy" width="150" src="/atlantis_uploads/gallery_thumb/chicken_detail.jpg" alt="Chicken birdge"></a></td>
					<td>Chicken birdge</td>
					<td>Dinsdag 15 februari 2000</td>
				</tr>
				
				
				<tr>
					<th colspan="3">Fotografie</th>
				</tr>
					
				<tr class="odd">
					<td><a href="/atlantis_uploads/gallery_large/opkomst_01.jpg" data-fancybox="gallery" data-caption="Op een mooi dag zag ik een grote wolkenpartij"><img class="gallery_thumb" loading="lazy" width="150" src="/atlantis_uploads/gallery_thumb/opkomst_01.jpg" alt="Zon opkomst"></a></td>
					<td>Zon opkomst</td>
					<td>Woensdag 11 augustus 2004</td>
				</tr>
				
					
				<tr class="even">
					<td><a href="/atlantis_uploads/gallery_large/opkomst_02.jpg" data-fancybox="gallery" data-caption="De zon kwam bijna om een hoekje kijken"><img class="gallery_thumb" loading="lazy" width="150" src="/atlantis_uploads/gallery_thumb/opkomst_02.jpg" alt="Zon opkomst"></a></td>
					<td>Zon opkomst</td>
					<td>Woensdag 11 augustus 2004</td>
				</tr>
				
					
				<tr class="odd">
					<td><a href="/atlantis_uploads/gallery_large/opkomst_03.jpg" data-fancybox="gallery" data-caption="Het duurde natuurlijk even"><img class="gallery_thumb" loading="lazy" width="150" src="/atlantis_uploads/gallery_thumb/opkomst_03.jpg" alt="Zon opkomst"></a></td>
					<td>Zon opkomst</td>
					<td>Woensdag 11 augustus 2004</td>
				</tr>
				
					
				<tr class="even">
					<td><a href="/atlantis_uploads/gallery_large/opkomst_04.jpg" data-fancybox="gallery" data-caption="Een mooi begin"><img class="gallery_thumb" loading="lazy" width="150" src="/atlantis_uploads/gallery_thumb/opkomst_04.jpg" alt="Zon opkomst"></a></td>
					<td>Zon opkomst</td>
					<td>Woensdag 11 augustus 2004</td>
				</tr>
				
					
				<tr class="odd">
					<td><a href="/atlantis_uploads/gallery_large/opkomst_05.jpg" data-fancybox="gallery" data-caption="Dit lijkt er meer op"><img class="gallery_thumb" loading="lazy" width="150" src="/atlantis_uploads/gallery_thumb/opkomst_05.jpg" alt="Zon opkomst"></a></td>
					<td>Zon opkomst</td>
					<td>Woensdag 11 augustus 2004</td>
				</tr>
				
					
				<tr class="even">
					<td><a href="/atlantis_uploads/gallery_large/opkomst_06.jpg" data-fancybox="gallery" data-caption="Hij is bijna zover"><img class="gallery_thumb" loading="lazy" width="150" src="/atlantis_uploads/gallery_thumb/opkomst_06.jpg" alt="Zon opkomst"></a></td>
					<td>Zon opkomst</td>
					<td>Woensdag 11 augustus 2004</td>
				</tr>
				
					
				<tr class="odd">
					<td><a href="/atlantis_uploads/gallery_large/opkomst_07.jpg" data-fancybox="gallery" data-caption="Nog even volhouden"><img class="gallery_thumb" loading="lazy" width="150" src="/atlantis_uploads/gallery_thumb/opkomst_07.jpg" alt="Zon opkomst"></a></td>
					<td>Zon opkomst</td>
					<td>Woensdag 11 augustus 2004</td>
				</tr>
				
					
				<tr class="even">
					<td><a href="/atlantis_uploads/gallery_large/opkomst_08.jpg" data-fancybox="gallery" data-caption="Dit is zijn toppunt"><img class="gallery_thumb" loading="lazy" width="150" src="/atlantis_uploads/gallery_thumb/opkomst_08.jpg" alt="Zon opkomst"></a></td>
					<td>Zon opkomst</td>
					<td>Woensdag 11 augustus 2004</td>
				</tr>
				
					
				<tr class="odd">
					<td><a href="/atlantis_uploads/gallery_large/opkomst_09.jpg" data-fancybox="gallery" data-caption="Nu kan ik niet meer fotog's maken"><img class="gallery_thumb" loading="lazy" width="150" src="/atlantis_uploads/gallery_thumb/opkomst_09.jpg" alt="Zon opkomst"></a></td>
					<td>Zon opkomst</td>
					<td>Woensdag 11 augustus 2004</td>
				</tr>
				
					
				<tr class="even">
					<td><a href="/atlantis_uploads/gallery_large/zon_achtergrond.jpg" data-fancybox="gallery" data-caption="Deze foto even snel tussendoor gemaakt. In de verte is het licht, de toekomst..."><img class="gallery_thumb" loading="lazy" width="150" src="/atlantis_uploads/gallery_thumb/zon_achtergrond.jpg" alt="Zeer donker"></a></td>
					<td>Zeer donker</td>
					<td>Woensdag 11 augustus 2004</td>
				</tr>
				
					
				<tr class="odd">
					<td><a href="/atlantis_uploads/gallery_large/wolken_01.jpg" data-fancybox="gallery" data-caption="Eerst in de wolken reeks, er volgen nog meer..."><img class="gallery_thumb" loading="lazy" width="150" src="/atlantis_uploads/gallery_thumb/wolken_01.jpg" alt="Fluffy Clouds"></a></td>
					<td>Fluffy Clouds</td>
					<td>Dinsdag 25 mei 2004</td>
				</tr>
				
					
				<tr class="even">
					<td><a href="/atlantis_uploads/gallery_large/wolken_02.jpg" data-fancybox="gallery" data-caption="Strakke blauw lucht met een paar mooie wolken..."><img class="gallery_thumb" loading="lazy" width="150" src="/atlantis_uploads/gallery_thumb/wolken_02.jpg" alt="Blue Sky"></a></td>
					<td>Blue Sky</td>
					<td>Dinsdag 25 mei 2004</td>
				</tr>
				
					
				<tr class="odd">
					<td><a href="/atlantis_uploads/gallery_large/wolken_03.jpg" data-fancybox="gallery" data-caption="Wolken partij tegen de avond"><img class="gallery_thumb" loading="lazy" width="150" src="/atlantis_uploads/gallery_thumb/wolken_03.jpg" alt="Breking"></a></td>
					<td>Breking</td>
					<td>Dinsdag 25 mei 2004</td>
				</tr>
				
					
				<tr class="even">
					<td><a href="/atlantis_uploads/gallery_large/wolken_04.jpg" data-fancybox="gallery" data-caption="Wolken krijgen een verblindend licht om zich heen."><img class="gallery_thumb" loading="lazy" width="150" src="/atlantis_uploads/gallery_thumb/wolken_04.jpg" alt="Avond licht"></a></td>
					<td>Avond licht</td>
					<td>Dinsdag 25 mei 2004</td>
				</tr>
				
					
				<tr class="odd">
					<td><a href="/atlantis_uploads/gallery_large/wolken_05.jpg" data-fancybox="gallery" data-caption="Mooie paarse kleuren als de zon bijna ondergaat."><img class="gallery_thumb" loading="lazy" width="150" src="/atlantis_uploads/gallery_thumb/wolken_05.jpg" alt="Avond glorie"></a></td>
					<td>Avond glorie</td>
					<td>Dinsdag 25 mei 2004</td>
				</tr>
				
					
				<tr class="even">
					<td><a href="/atlantis_uploads/gallery_large/wolken_06.jpg" data-fancybox="gallery" data-caption="Zon breekt net achter de wolken langs..."><img class="gallery_thumb" loading="lazy" width="150" src="/atlantis_uploads/gallery_thumb/wolken_06.jpg" alt="Verblindend"></a></td>
					<td>Verblindend</td>
					<td>Dinsdag 25 mei 2004</td>
				</tr>
				
					
				<tr class="odd">
					<td><a href="/atlantis_uploads/gallery_large/wolken_07.jpg" data-fancybox="gallery" data-caption="Deze wolk staat er gewoon maar bij..."><img class="gallery_thumb" loading="lazy" width="150" src="/atlantis_uploads/gallery_thumb/wolken_07.jpg" alt="Heel simpel"></a></td>
					<td>Heel simpel</td>
					<td>Dinsdag 25 mei 2004</td>
				</tr>
				
					
				<tr class="even">
					<td><a href="/atlantis_uploads/gallery_large/wolken_08.jpg" data-fancybox="gallery" data-caption="Deze wolk kijkt even wat er gaat gebeuren..."><img class="gallery_thumb" loading="lazy" width="150" src="/atlantis_uploads/gallery_thumb/wolken_08.jpg" alt="In z'n eentje"></a></td>
					<td>In z'n eentje</td>
					<td>Dinsdag 25 mei 2004</td>
				</tr>
				
					
				<tr class="odd">
					<td><a href="/atlantis_uploads/gallery_large/wolken_09.jpg" data-fancybox="gallery" data-caption="Heel cliche beeld van een wolken partij..."><img class="gallery_thumb" loading="lazy" width="150" src="/atlantis_uploads/gallery_thumb/wolken_09.jpg" alt="Wat mooi!!"></a></td>
					<td>Wat mooi!!</td>
					<td>Dinsdag 25 mei 2004</td>
				</tr>
				
					
				<tr class="even">
					<td><a href="/atlantis_uploads/gallery_large/wolken_10.jpg" data-fancybox="gallery" data-caption="Mooie grote wolk met lichtstralen"><img class="gallery_thumb" loading="lazy" width="150" src="/atlantis_uploads/gallery_thumb/wolken_10.jpg" alt="Van opzij"></a></td>
					<td>Van opzij</td>
					<td>Dinsdag 25 mei 2004</td>
				</tr>
				
					
				<tr class="odd">
					<td><a href="/atlantis_uploads/gallery_large/wolken_11.jpg" data-fancybox="gallery" data-caption="Wolk die gaat verdwijnen"><img class="gallery_thumb" loading="lazy" width="150" src="/atlantis_uploads/gallery_thumb/wolken_11.jpg" alt="Breeduit"></a></td>
					<td>Breeduit</td>
					<td>Dinsdag 25 mei 2004</td>
				</tr>
				
					
				<tr class="even">
					<td><a href="/atlantis_uploads/gallery_large/wolken_12.jpg" data-fancybox="gallery" data-caption="Deze foto is net op het goede moment genomen. De lichtstralen zijn nog net te fotograferen."><img class="gallery_thumb" loading="lazy" width="150" src="/atlantis_uploads/gallery_thumb/wolken_12.jpg" alt="Top punt!!"></a></td>
					<td>Top punt!!</td>
					<td>Dinsdag 25 mei 2004</td>
				</tr>
				
					
				<tr class="odd">
					<td><a href="/atlantis_uploads/gallery_large/wolken_13.jpg" data-fancybox="gallery" data-caption="Mooie diepte werking in de wolken partij..."><img class="gallery_thumb" loading="lazy" width="150" src="/atlantis_uploads/gallery_thumb/wolken_13.jpg" alt="Diepte werking"></a></td>
					<td>Diepte werking</td>
					<td>Dinsdag 25 mei 2004</td>
				</tr>
				
					
				<tr class="even">
					<td><a href="/atlantis_uploads/gallery_large/wolken_14.jpg" data-fancybox="gallery" data-caption="Grimmige afwachting wat er gebeuren gaat..."><img class="gallery_thumb" loading="lazy" width="150" src="/atlantis_uploads/gallery_thumb/wolken_14.jpg" alt="Afwachting"></a></td>
					<td>Afwachting</td>
					<td>Dinsdag 25 mei 2004</td>
				</tr>
				
					
				<tr class="odd">
					<td><a href="/atlantis_uploads/gallery_large/wolken_15.jpg" data-fancybox="gallery" data-caption="Net een puntje van zonlicht over het hoofd..."><img class="gallery_thumb" loading="lazy" width="150" src="/atlantis_uploads/gallery_thumb/wolken_15.jpg" alt="Puntje"></a></td>
					<td>Puntje</td>
					<td>Dinsdag 25 mei 2004</td>
				</tr>	
			</tbody>
		</table>
	
		<p>
			De plaatjes die hierboven verschijnen zijn willekeurig van soort en komen uit verschillende categorieën.
			Bovenstaande image photogallery is een plekje op de website waar ik leuke collages neer zet. Ik vind het leuk om collages te maken waarin de schaal niet klopt
			of juist dat het tijdstil helemaal niet klopt. Zoals een strand scene in een bevroren bos neerzetten. Het geeft verassende beelden op.
		</p>		
	</main>
</Layout>