<h2>A List Apart | Survey 2008</h2>

<p>
    <a href="http://alistapart.com/articles/survey2008" target="_blank" rel="">
        <img src="/img/i-took-the-2008-survey.gif" alt="Alistapart survey 2008" loading="lazy" class="float_left" />
    </a>
    Een soort wereldwijde enquête voor mensen die websites bouwen of te maken hebben met websites.
</p>

