---
import { getCollection } from "astro:content";

const articles = (await getCollection("articles")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
const { heading } = Astro.props;
const Tag = Astro.props.tag || "h2";
---

{heading && <Tag class="headTitle">{heading}</Tag>}

<ul>
    {
        articles.map(({ id, data: { title } }) => (
            <>
                <li>
                    <a href={"/artikelen/" + id}>{title}</a>
                </li>
            </>
        ))
    }
</ul>
