---
import { getCollection } from "astro:content";
import FormattedDate from "./FormattedDate.astro";

const articles = (await getCollection("articles")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<section class="articles">
    <table class="design">
        <thead>
            <tr>
                <th>Artikelen</th>
                <th>Omschrijving</th>
                <th>Datum</th>
            </tr>
        </thead>
        <tbody>
            {
                articles.map(({ id, data: { title, description, pubDate } }) => (
                    <>
                        <tr>
                            <td>
                                <a href={"/artikelen/" + id}>{title}</a>
                            </td>
                            <td>{description}</td>
                            <td class="design__date">
                                <FormattedDate date={pubDate} />
                            </td>
                        </tr>
                    </>
                ))
            }
        </tbody>
    </table>
</section>
