---
import { getCollection } from "astro:content";

const posts = (await getCollection("articles")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const { heading } = Astro.props;
const Tag = Astro.props.tag || "h2";
---

{heading && <Tag class="headTitle">{heading}</Tag>}

<ul>
    {
        posts.map((post) => (
            <li>
                <a href={"/artikelen/" + post.slug}>{post.data.title}</a>
            </li>
        ))
    }
</ul>
