<h2 class="headTitle">Opleiding</h2>

<p>
    In het dagelijks leven ben ik een <strong>Multimedia Vormgever</strong> en heb mijn studie enige jaren geleden succesvol afgerond aan het 
    <a href="https://www.glr.nl/" title="Grafisch Lyceum Rotterdam" target="_blank" rel="link">Grafisch Lyceum Rotterdam</a>.
    Mijn dagelijks werkzaamheden bestaan uit het vervaardigen van websites. Van concept tot uitvoering en onderhoud.
    Daarbij hoort vormgeving, HTML programmering en veel communicatie tussen vormgevers, programmeurs en klanten.
</p>