<h2>Firebug</h2>

<p>
    <a href="http://www.getfirebug.com/?link=2" title="Firebug is a free web development tool for Firefox">

    <img src="/img/firebug2-trans.png" width="109" height="67" border="0" alt="Firebug - Web Development Evolved"></a>
</p>

<p>De tool voor webdesigners die met Css werken en bugs oplossen.</p>