<div id="footer">
	<div id="footerContent">		
        <!-- Main navigation -->
        <ul>
            <li><a href="/" title="Homepage" class="nav1" accesskey="h">Home</a></li>
            <li><a href="/artikelen/" class="nav2" title="Allerlei artikelen m.b.t. de Apple Mac" accesskey="a">Artikelen</a></li>
            <li><a href="/webdesign/" class="nav3" title="Over webdesign" accesskey="w">Webdesign</a></li>
            <li><a href="/portfolio/" class="nav5" title="Wat persoonlijk werk van mij" accesskey="p">Portfolio</a></li>
            <li><a href="/iphone/" class="nav11" title="Aanschaf van mij iPhone 3G" accesskey="i">iPhone</a></li>
            <li><a href="/apple-macintosh-itunes/" class="nav6" title="Mac rules!!" accesskey="m">Mac &amp; iTunes</a></li>	
            <li><a href="/mozilla-firefox/" class="nav7" title="Dé Mozila Firefox webbrowser" accesskey="f">Mozilla Firefox</a></li>
            <li><a href="/nintendo-wii/" class="nav8" title="De vetste game-console!" accesskey="n">Nintendo Wii</a></li>
            <li><a href="/fun/" class="nav9" title="Leuke filmpjes en andere dingen" accesskey="f">Fun</a></li>	
            <li><a href="/contact/" class="nav10" title="Neem contact op" accesskey="c">Contact</a></li>
        </ul>		

        <div id="webBadges">
                <a href="http://www.mozilla-europe.org/en/" target="_blank" rel=""><img src="/img/getfirefox.gif" alt="Get Firefox!"></a>
                <a href="http://dean.edwards.name/IE7/" target="_blank" rel=""><img src="/img/ie7_enhanced.gif" alt="IE7 Enhanced"></a>
                <a href="http://www.php.net/" target="_blank" rel=""><img src="/img/php_powered.gif" alt="PHP Powered"></a>
                <img src="/img/w3c_css.gif" alt="W3C CSS">
                <img src="/img/w3c_xhtml10.gif" alt="W3C XHTML">
        </div>
        
		<p
         class="right">© Atlantisdesign 2009</p>
	</div>
</div>