---
import Menu from "./Menu.astro";
---

<footer id="footer">
	<div id="footerContent">
        <Menu />	

        <div id="webBadges">
            <a href="http://www.mozilla-europe.org/en/" target="_blank" rel=""><img src="/img/getfirefox.gif" alt="Get Firefox!"></a>
            
            <img src="/img/w3c_css.gif" alt="W3C CSS">
        </div>
        
		<p class="right">&copy; Atlantisdesign 2023</p>
	</div>
</footer>