---
import Menu from "./Menu.astro";
---

<footer id="footer">
	<div id="footerContent">		
        <!-- Main navigation -->
        <Menu />	

        <div id="webBadges">
            <a href="http://www.mozilla-europe.org/en/" target="_blank" rel=""><img src="/img/getfirefox.gif" alt="Get Firefox!"></a>
            <a href="http://dean.edwards.name/IE7/" target="_blank" rel=""><img src="/img/ie7_enhanced.gif" alt="IE7 Enhanced"></a>
            <a href="http://www.php.net/" target="_blank" rel=""><img src="/img/php_powered.gif" alt="PHP Powered"></a>
            <img src="/img/w3c_css.gif" alt="W3C CSS">
            <img src="/img/w3c_xhtml10.gif" alt="W3C XHTML">
        </div>
        
		<p class="right">&copy; Atlantisdesign 2023</p>
	</div>
</footer>