<h2>Happy webbies</h2>

<p>
    Leuke opzet van een website voor <strong>webnerds</strong>. Download <a
        href="http://www.happywebbies.com/download"
        title="Desktop achtergronden"
        target="_blank"
        rel="link"
    >
        wallpapers
    </a> van je favoriete webguru.
</p>
