<header id="header" class="grid_16">
    <h1>Atlantisdesign</h1>
    
    <p><img src="/img/atlantis_logo_print.gif" class="hide" loading="lazy" alt="Atlantisdesign logo"></p>
    
    <h2 id="tagline"><span class="head">WEBdesign</span> &amp; the Mac</h2>
</header>