<div id="main" class="grid_5">
    <h2>Mac &amp; webdesign</h2>

    <p>
        Mijn interesses gaan uit naar <strong>webdesign</strong> volgens webstandaaden, <strong>vormgeving</strong>, <a href="http://nl.wikipedia.org/wiki/Cascading_Style_Sheets" title="Cascading Style Sheets" target="_blank" rel="link">Css</a>, <a href="http://en.wikipedia.org/wiki/Xhtml" title="Extensible HyperText Markup Language" target="_blank" rel="link">XHTML</a>
        <a href="http://en.wikipedia.org/wiki/Unobtrusive_JavaScript" target="_blank" rel="link">unobtrusive Javascripting</a> , <strong>PHP server-side</strong>  scripting, <strong>MySQL databases</strong>  en de <strong>Apache webserver</strong>.
        Dat allemaal op <a href="http://www.apple.com/macosx/" target="_blank" rel="link">Apple's Mac OS X</a>.
    </p>
    
    <h3>Webdesite vervaardigen</h3>
    
    <p>	
        Bij het vervaardigen van een website komt best veel kijken. Waar moet je op letten bij het schrijven van de <abbr title="eXtendable Hyper Tyxt Markup Language">XHTML</abbr> source-code en <abbr title="Cascading Style Sheets">Css</abbr>. En heel belangrijk gegeven is: Hoe ziet mijn website eruit in
        andere web browsers, bijvoorbeeld <a href="http://www.apple.com/macosx/features/safari/" title="Apple's Safari" target="_blank" rel="link">Apple Safari</a>, <a href="http://www.microsoft.com/windows/ie_intl/nl/" title="Microsoft Internet Explorer" target="_blank" rel="link">Microsoft Internet Explorer</a>, 
        <a href="http://www.mozilla.com/firefox/" title="Mozilla Firefox" target="_blank" rel="link">Mozilla Firefox</a> en <a href="http://www.opera.com/" title="Operasoft Opera webbrowser" target="_blank" rel="link">Opera</a>. Andere platformen dan Windows bijvoorbeeld Apple en Linux. Op de <strong>webdesign / boeken</strong>  pagina staat een <a href="/webdesign/boeken" title="Webdesign boeken">lijstje met boeken</a> die elke webdesigner / webdeveloper moeten lezen!
    </p>		

    <h2>Aikido</h2>
    <p>
        Voor mijn sportschool <a href="http://www.goudaaikikai.nl/" title="Website van Gouda Aikikai" target="_blank" rel="link">Gouda Aikikai</a> heb ik de website gemaakt ter promotie van de sportschool en de sport zelf.
        Een aantal foto's, stage-data en veel informatie over de school en over Aikido zelf is daar te vinden. De website is gemaakt uit <strong>eigen initiatief</strong>, als hobby en liefde voor de sport, zonder daar enige (financiële) profijt van te verkrijgen.
    </p>			
</div>