---
import { getCollection } from "astro:content";
const iphoneAppLinksCollection = await getCollection("iPhoneAppLinks");
---

<h2>Coole iPhone applicaties</h2>

<ul class="clean">
    {
        iphoneAppLinksCollection.map(({ data: { title, url, blank } }) => (
            <>
                <li>
                    <a href={url} target={blank ? "_blank" : null}>
                        {title}
                    </a>
                </li>
            </>
        ))
    }
</ul>
