---
import list from '@content/lists/iPhoneLinks.json';
---

{
    list.map(({heading, items}) => (
        <h2>{heading}</h2>

        <ul class="clean">
        {
            items.map(({title, url, blank}) => (
                <li><a href={url} target={blank ? '_blank' : null}>{title}</a></li>
            ))
        }
        </ul>
    ))
}