---
import { getCollection } from "astro:content";
const iphoneLinksCollection = await getCollection("iPhoneLinks");
---

<h2>iPhone gerelateerd</h2>

<ul class="clean">
    {
        iphoneLinksCollection.map(({ data: { title, url, blank } }) => (
            <>
                <li>
                    <a href={url} target={blank ? "_blank" : null}>
                        {title}
                    </a>
                </li>
            </>
        ))
    }
</ul>
