<h2>Kill Bill's browser</h2>

<p>Campaign to kill the webbrowser that just won't die: <a href="http://wisdump.com/web-programming/campaigns-to-kill-the-web-browser-that-just-wont-die-internet-explorer-6/" target="_blank" rel="link">Internet Explorer 6</a></p>
