<h2>MacBuyers Guide</h2>

<p>Op de website van <a href="http://buyersguide.macrumors.com/" target="_blank" title="Mac Buyers Guide" rel="link">MacRumors</a> kun je kijken wat de 'life-cycle' van bepaalde Apple producten is.
Goed om te weten dus wanneer je je nieuwe Apple product gaat aanschaffen of dat het toch handiger is om nog even te wachten.</p>