<article class="madonMac">
    <h2>Made on a Mac</h2>

    <p>
        Mac and the Mac logo are trademarks of Apple Computer, Inc., registered in the U.S. and other countries. The Made on a Mac Badge is a
        trademark of Apple Computer, Inc., used with permission.
    </p>

    <p class="center"><a href="http://store.apple.com/" target="_blank"><img src="/img/madeonamac.gif" loading="lazy" alt="Made on a Mac" /></a></p>
</article>
