---
import HeaderLink from "./HeaderLink.astro";
import menuItems from "@/content/lists/Menu.json";

// Types for clarity
type MenuItem = { title: string; url: string; accesskey?: string };
const items = menuItems as MenuItem[];
---

<menu>
    {
        items.map((item) => (
            <>
                <li>
                    <HeaderLink href={item.url} accesskey={item.accesskey}>
                        {item.title}
                    </HeaderLink>
                </li>
            </>
        ))
    }
</menu>
