---
import HeaderLink from './HeaderLink.astro';
---

<menu>
    <li><HeaderLink href="/">Home</HeaderLink></li>
    <li><HeaderLink href="/artikelen">Artikelen</HeaderLink></li>
    <li><HeaderLink href="/webdesign">Webdesign</HeaderLink></li>
    <li><HeaderLink href="/portfolio">Portfolio</HeaderLink></li>
    <li><HeaderLink href="/iphone">iPhone</HeaderLink></li>
    <li><HeaderLink href="/apple-macintosh-itunes">Mac &amp; iTunes</HeaderLink></li>
    <li><HeaderLink href="/mozilla-firefox">Mozilla Firefox</HeaderLink></li>
    <li><HeaderLink href="/nintendo-wii">Nintendo Wii</HeaderLink></li>
    <li><HeaderLink href="/fun">Fun</HeaderLink></li>
    <li><HeaderLink href="/contact">Contact</HeaderLink></li>
</menu>	