---
import HeaderLink from "./HeaderLink.astro";
import { getCollection } from "astro:content";

const menuCollection = await getCollection("menu");
---

<menu>
    {
        menuCollection.map(({ data: { title, url, accessKey } }) => {
            return (
                <>
                    <li>
                        <HeaderLink href={url} accesskey={accessKey}>
                            {title}
                        </HeaderLink>
                    </li>
                </>
            );
        })
    }
</menu>
