---
import HeaderLink from './HeaderLink.astro';
---

<menu>
    <li><HeaderLink href="/" accesskey="h">Home</HeaderLink></li>
    <li><HeaderLink href="/artikelen" accesskey="a">Artikelen</HeaderLink></li>
    <li><HeaderLink href="/webdesign" accesskey="w">Webdesign</HeaderLink></li>
    <li><HeaderLink href="/portfolio" accesskey="p">Portfolio</HeaderLink></li>
    <li><HeaderLink href="/iphone" accesskey="i">iPhone</HeaderLink></li>
    <li><HeaderLink href="/apple-macintosh-itunes">Mac &amp; iTunes</HeaderLink></li>
    <li><HeaderLink href="/mozilla-firefox" accesskey="m">Mozilla Firefox</HeaderLink></li>
    <li><HeaderLink href="/nintendo-wii" accesskey="n">Nintendo Wii</HeaderLink></li>
    <li><HeaderLink href="/fun" accesskey="f">Fun</HeaderLink></li>
    <li><HeaderLink href="/contact" accesskey="c">Contact</HeaderLink></li>
</menu>	