<h2>Vervolg pagina's</h2>

<ul>
        <li><a href="/webdesign/boeken">Webdesign boeken</a></li>
        <li><a href="/webdesign/conditional-comments">Conditional comments</a></li>
        <li><a href="/webdesign/software-comparison">Software comparison</a></li>
</ul>