---
import { getCollection } from "astro:content";
const wiiLinksCollection = await getCollection("wiiLinks");
---

<h2>Wii links</h2>

<ul class="clean">
    {
        wiiLinksCollection.map(({ data: { title, url, blank } }) => (
            <>
                <li>
                    <a href={url} target={blank ? "_blank" : null}>
                        {title}
                    </a>
                </li>
            </>
        ))
    }
</ul>
