/* Screen style for http://www.atlantisdesign.nl/ */

/* Win/IE7 css-bug-fixes
============================================= */

div#nav ul li a {
	position: relative;
}

div#blog h2 {
	padding-top: 5px;
}

div#footerContent {
	padding-top: 20px;
}

div.article h4 {
	height: 1%;
}