/*<group=Tags>*/

body {
	font: 12px "Trebuchet MS", "Gill Sans", Verdana, sans-serif;
	padding-bottom: 320px;
	margin: 0px;
	padding: 0px;
}
td {
	font: 12px;
}

th {
	text-align: left;
}

input, select, textarea {
	background: #ced6e5;
	border: 1px solid #001b4c;
}

input:hover, select:hover, textarea:hover {
	background: #ffffff;
	border: 1px solid #001b4c;
}

#content p.attention {
	color: #af0000;
	font-style: italic;
}

a {
	color: #001b4c;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

table td {
	padding: 5px;
	padding-right: 20px;	
}

table th {
	padding-bottom: 3px;
	color: #001b4c;
	font-size: 14px;
	background: #ffffff;
}

/*</group>*/

/*<group=Header>*/

#header {
	background: url(/img/header_behang.jpg) repeat-x top;
	height: 80px;
	margin: 0px;
}

#header .header_left {
	background: url(/img/header_left.jpg) no-repeat left  top;
	margin: 0px;
	height: 80px;
}

#header .header_right {
	background: url(/img/header_right.jpg) no-repeat right top;
	margin: 0px;
	height: 80px;
}

#header h1 {
	float: left;
	color: #001c4c;
	margin-left: 20px;
	font-size: 18px;
	margin-top: 15px;
}

#header ul#top_menu {
	margin: 0px;
	float: right;
	margin-top: 20px;
}

#header ul#top_menu li {
	list-style: none;
	display: inline;
	margin-right: 20px;
}

#header ul#top_menu li a {
	text-decoration: none;
	font-weight: bold;
	color: #001c4c;
}

#header ul#top_menu li a:hover {
	text-decoration: underline;
}

/*</group>*/

/*<group=Content>*/

#content {
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 100px;
	margin-top: 20px;
}

/*</group>*/

/*<group=Java edits>*/

#java_edit {
	border: 1px solid #001b4c;
	background: #faf6ea;
	margin-bottom: 10px;
	padding-bottom: 15px;
}

#java_edit h2 {
	font-size: 14px;
	color: #e9e6e9;
	background: #001b4c;
	margin-top: 0;
	padding: 3px;
}

#java_edit h3 {
	font-size: 14px;
	color: #001b4c;
	margin-top: 15px;
}

#java_edit input, select, textarea {
	margin: 0;
}

#java_edit h3, #java_edit p {
	padding-left: 10px;
	margin-bottom: 0;
	margin-top: 10px;
}
	
/*</group>*/

/*<group=Menu>*/

#menu {
	float: right;
	margin-top: 10px;
	voice-family: "\"}\"";
  	voice-family:inherit; 
  	margin-top: 0px;
	margin-right: 20px;
}

#menu ul {
	list-style: none;
	padding: 0px;
}

#menu ul li {
	display: inline;
	padding-left: 20px;
}

#menu ul li a {
	font-weight: bold;
}

/*</group>*/

/*<group=Design table>*/

table.design {
	margin-top: 10px;
	margin-bottom: 10px;
}

table.design th {
	padding-bottom: 5px;
	padding-right: 5px;
	border-bottom: 2px solid #f36747;
	font-size: 14px;
	color: #f36747;
	text-align: left;
	padding-top: 15px;
}

table.design td {
	padding: 5px;
	padding-right: 10px;
}

table.design tr.even {
	background: #cde2e9;
}

table.design tr.odd {
	background: #ffffff;
}

table.design tr.expired {
	background: #e9cccf;
}	


#content table.design td img.gallery_thumb {
	width: 75px;
}
	
/*</group>*/
