--- 
import Head from '../components/Head.astro';
import Header from '../components/Header.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="nl">
	<head>
		<Head />

		<slot name="begin-head" />

		<meta name="generator" content={Astro.generator} />

		<slot name="end-head" />
		
		<title>{title}</title>
	</head>

	<body id="home">
		<slot name="begin-body" />

		<p id="skipNav" class="hide non_print"><a href="#main" accesskey="2">Direct naar de tekst</a></p>

		<div id="wrapper" class="container_16 content">
			<Nav />

			<Header />
			
			<slot />			
		</div>
		
		<Footer />

		<script src="/themes/base/js/functions.js" defer></script>
		<script src="/themes/base/js/common.js" defer></script>
		<!-- END DEFAULT JAVASCRIPTS -->

		<slot name="end-body" />
	</body>
</html>