--- 
import Head from '@/components/Head.astro';
import Header from '@/components/Header.astro';
import Nav from '@/components/Nav.astro';
import Footer from '@/components/Footer.astro';

const { metaData } = Astro.props;
---

<!DOCTYPE html>
<html lang="nl">
	<head>
		<slot name="begin-head" />

		<Head metaData={metaData} />		

		<slot name="end-head" />
	</head>

	<body>
		<slot name="begin-body" />

		<div id="skipNav" class="hide non_print"><a href="#main" accesskey="2">Direct naar de tekst</a></div>

		<section id="wrapper" class="container_16 content">
			<Nav />

			<Header />
			
			<slot />
		</section>
		
		<Footer />

		<slot name="end-body" />
	</body>
</html>